<app-header></app-header>

<div class="w-full grid grid-cols-12 font-sans items-center justify-center">
    <div class="mt-16 hero-section col-span-full w-full justify-center items-center text-center text-[#fff] ">
        <div class="flex flex-col max-w-[1200px]">
            <h1 class="font-black text-[50px] leading-10 max-sm:text-4xl">
                Be Coached by the Best
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                CHOOSE FROM OUR NETWORK OF RATED SPORTS COACHES TO YOU OR YOUR SCHOOL, UNIVERSITY OR CLUB TEAM
            </h2>
        </div>
    </div>

    <div
        class="grid grid-cols-7 col-span-full max-w-[1200px] px-6 items-start justify-center py-20 mx-auto gap-4 max-lg:grid-cols-1 max-sm:px-2">

        <div class="col-span-5 grid grid-cols-2 items-start bg-white px-10 max-sm:px-0 max-lg:col-span-1">
            <div
                class="col-span-full flex items-center border bg-[#ebebeb] text-[#0c5060] w-full justify-around rounded-md h-20 min-w-[300px] tabs-controller">
                <button class="w-1/3 h-full px-2" (click)="navigate('session-details')" [ngClass]="{'selected':isSessionDetails}">1. Session Details</button>
                <button class="w-1/3 h-full px-2" (click)="navigate('payment')" [ngClass]="{'selected':isPayment}">2. Payment</button>
                <button class="w-1/3 h-full px-2" (click)="navigate('confirm')" [ngClass]="{'selected':isConfirm}">3. Confirm</button>
            </div>

            <ng-container *ngIf="isSessionDetails && !isPayment && !isConfirm">
                <div class="col-span-full grid grid-cols-2 items-start gap-4 pt-10 w-full max-sm:grid-cols-1">

                    <h3 class="text-[#0c5060] font-semibold col-span-full pb-10" >Coaching Session Details</h3>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="first_name" class="text-sm">First Name</label>
                        <input name="first_name" placeholder="Your First Name" type="text"
                            class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="last_name" class="text-sm">Last Name</label>
                        <input name="last_name" placeholder="Your Last Name" type="text"
                            class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="email" class="text-sm">Email</label>
                        <input name="email" placeholder="Your Email" type="email" class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex gap-2 items-center text-[#808080]">
                        <span class="w-1/6 flex flex-col gap-2 items-start">
                            <label for="int_code" class="text-sm">Int Code</label>
                            <input name="int_code" placeholder="+00" type="number" class="w-full border p-3 rounded-md">
                        </span>
                        <span class="w-5/6 flex flex-col gap-2 items-start text-[#808080]">
                            <label for="phone_number" class="text-sm">Telephone Number</label>
                            <input name="phone_number" placeholder="1234-567-890" type="number"
                                class="w-full border p-3 rounded-md">
                        </span>
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="dob" class="text-sm">Date of birth</label>
                        <input name="dob" placeholder="01/01/2024" type="date" class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="gender" class="text-sm">Gender</label>
                        <select name="gender" id="gender" class="w-full border p-3 rounded-md ">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="address_one" class="text-sm">Address </label>
                        <input name="address_one" placeholder="Address Line 1" type="text"
                            class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 pt-7 text-[#808080]">
                        <input name="address_two" placeholder="Address Line 2" type="text"
                            class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 text-[#808080]">
                        <input name="city" placeholder="City" type="text" class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 text-[#808080]">
                        <input name="state" placeholder="State" type="text" class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 text-[#808080]">
                        <input name="post_code" placeholder="Post Code" type="text"
                            class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <select name="country" id="country" class="w-full border p-3 rounded-md ">
                            <option value="">Country</option>
                            <option value="pakistan">Pakistan</option>
                            <option value="usa">USA</option>
                            <option value="gabon">Gabon</option>
                        </select>
                    </div>

                    <div class="col-span-full w-full flex gap-2 items-center text-pink-500">
                        <input type="checkbox" name="save_address">
                        <label for="save_address" class="text-sm">Save this address as your billing address</label>
                    </div>

                    <div class="col-span-full w-full flex flex-col gap-2 items-start pt-4 text-[#808080]">
                        <label for="hear" class="text-sm">How did you hear about us ?</label>
                        <select name="hear" id="hear" class="w-full border p-3 rounded-md ">
                            <option value="">Select here</option>
                            <option value="friends">Friends</option>
                            <option value="social">Social Media</option>
                            <option value="school">School</option>
                        </select>
                    </div>

                    <div class="col-span-full w-full flex gap-2 items-center text-pink-500">
                        <label class="text-sm">Session booking details will be shared on your entered email
                            address</label>
                    </div>

                    <div class="col-span-full w-full flex items-center justify-between">
                        <button
                            class="text-pink-500 border-[1.5px] border-pink-500 bg-white rounded-md w-28 py-3 shadow-class">Cancel</button>
                        <button class="selected rounded-md w-28 py-3">Next</button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isPayment && !isSessionDetails && !isConfirm">
                <div class="col-span-full grid grid-cols-2 items-start gap-4 pt-10 w-full max-sm:grid-cols-1">

                    <h3 class="text-[#0c5060] font-semibold col-span-full">Payment Mode</h3>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="payment_method" class="text-sm">Select mode of payment</label>
                        <select name="payment_method" id="payment_method" class="w-full border p-3 rounded-md ">
                            <option value="credit_card">Credit Card</option>
                            <option value="cash">Cash</option>
                        </select>
                    </div>

                    <h3 class="text-[#0c5060] font-semibold col-span-full pt-6">Card Info</h3>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="card_number" class="text-sm">Card Number</label>
                        <input name="card_number" placeholder="XXXX-XXXX-XXXX-XXXX" type="number"
                            class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="card_name" class="text-sm">Name on the card</label>
                        <input name="card_name" placeholder="John Doe" type="text" class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-1 w-full flex gap-2 items-center text-[#808080]">
                        <span class="w-1/2 flex flex-col gap-2 items-start">
                            <label for="exp-month" class="text-sm">Expiry Date</label>
                            <input name="exp-month" placeholder="MM" type="number" class="w-full border p-3 rounded-md">
                        </span>
                        <span class="w-1/2 flex flex-col gap-2 items-start text-[#808080] pt-7">
                            <input name="exp-year" placeholder="YYYY" type="number"
                                class="w-full border p-3 rounded-md">
                        </span>
                    </div>

                    <div class="col-span-1 w-full flex flex-col gap-2 items-start text-[#808080]">
                        <label for="sec_code" class="text-sm">Security Code</label>
                        <input name="sec_code" placeholder="XXX" type="number" class="w-full border p-3 rounded-md">
                    </div>

                    <div class="col-span-full w-full flex gap-2 items-center text-pink-500">
                        <input type="checkbox" name="save_card">
                        <label for="save_card" class="text-sm">Save this card for future payments</label>
                    </div>

                    <div class="col-span-full w-full flex gap-2 items-start text-[#808080]">
                        <input type="checkbox" name="recieve_email">
                        <label for="recieve_email" class="text-sm -mt-1">By ticking this tick box, you consent to
                            receiving
                            event & competition recommendations, training advice and other promotion material from
                            Limber partners and affiliates by email.</label>
                    </div>

                    <div class="col-span-full w-full flex gap-2 items-start text-[#808080]">
                        <input type="checkbox" name="terms">
                        <label for="terms" class="text-sm -mt-1">By registering for this event, agree to the <span
                                class="text-pink-500 underline">Limber
                                Booking Terms and Conditions</span> and you understand that we will transfer your
                            personal information to the Sports Coach and /or session organiser that you are
                            booking.</label>
                    </div>

                    <div class="col-span-full w-full flex items-center justify-between">
                        <button
                            class="text-pink-500 border-[1.5px] border-pink-500 bg-white rounded-md w-28 py-3 shadow-class">Prev</button>
                        <button class="selected rounded-md w-56 py-3">Confirm Purchase</button>
                    </div>
                </div>
            </ng-container>


            <ng-container *ngIf="isConfirm && !isSessionDetails && !isPayment">
                <div class="col-span-full grid grid-cols-2 items-start gap-4 pt-10 w-full max-sm:grid-cols-1">

                    <h3 class="text-[#0c5060] font-semibold col-span-full">Confirmation</h3>

                    <div
                        class="col-span-full w-full flex flex-col gap-6 items-center justify-center text-[#808080] border rounded-md bg-white py-4 text-center">
                        <i class="fa-solid fa-circle-check rating text-9xl"></i>

                        <h4 class="text-[#0c5060]">Congratulations! Your payment has been confirmed.</h4>
                        <span class="">
                            REGISTRATION REFERENCE NUMBER
                            <br>
                            XV94567Yt
                        </span>

                        <span class="">
                            Your session details and Invoice have been emailed to you at
                            <br>
                            <p class="text-pink-500 pt-2">email&#64;address.com</p>
                        </span>

                        <button class="flex items-center justify-center rounded-md selected py-3 w-36">Home</button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div
            class="col-span-2 flex flex-col items-start bg-[#123942] px-4 py-6 rounded-md w-full text-white gap-2 max-lg:col-span-1 max-lg:w-96 max-sm:w-full max-lg:mx-auto">
            <h4>Booking Details</h4>
            <img src="../../../../assets/WEBSITE - COACHES PAGE IMAGES/pexels-andrew-personal-training-733500.png" class="rounded-md w-full min-h-40 h-fit">

            <h4 class="pt-2">Coach Name</h4>
            <div class="flex flex-col items-start">
                <span class="flex gap-2 items-center py-2 w-full"><i
                        class="fa-regular fa-calendar-days text-pink-600"></i>Date
                    <strong>01-01-2024</strong></span>
                <span class="flex gap-2 items-center border-t border-b border-white py-2 w-full"><i
                        class="fa-solid fa-location-dot text-pink-600"></i>Location
                    <strong>London, UK</strong></span>
                <span class="flex gap-2 items-center py-2 w-full"><i class="fa-solid fa-user text-pink-600"></i>Coaching
                    Session
                    Type: <strong>1 on 1</strong></span>
            </div>

            <h4 class="pt-2">Ticket Summary</h4>

            <div class="flex flex-col items-start gap-2 w-full">
                <span class="flex gap-2 justify-between items-center w-full">2X Personal
                    Session<strong>$160.00</strong></span>
                <span class="flex gap-2 justify-between items-center w-full">Booking Fee
                    <strong>$32.00</strong></span>
            </div>

            <button class="bg-white py-3 rounded-md text-lg w-full font-semibold text-pink-500">
                Total $192.00
            </button>

        </div>
    </div>
</div>


<app-footer></app-footer>