<app-header></app-header>

<div class="font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] max-sm:text-4xl">
                Limber for Players
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                TIME TO LIMBER UP, GET MORE ACTIVE, AND FIND LOCAL PLAYERS JUST LIKE YOU!
            </h2>
        </div>
    </div>

    <div class="w-full px-6 main-div flex justify-center items-center max-[992px]:flex-col">
        <div class="w-full py-8 gap-6 max-w-[1200px] grid grid-cols-12 pt-14">
            <div class="flex flex-col justify-start gap-4 items-center col-span-8 max-md:col-span-12 px-6">
                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">MAKE NEW FRIENDS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Connect with Local Like-Minded People
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Arrange games and get-together with fellow sports enthusiasts from around your local area. You
                        can easily message and manage a group, team, or club at any level.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">SHOW US WHAT YOU GOT!</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Create a Community Around Your Friends
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Easily upload sports-related blogs, photos, videos, event updates, and personal galleries to
                        your club members, fans, and local supportive community.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">KEEP UP TO DATE</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Notify Your Entire Ecosystem
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Never miss an event or upcoming practice by using Limber’s unique messaging system that keeps
                        everyone involved in your group or club up to date with the latest news and happenings.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">SHOW US WHAT YOU GOT!</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Create a Community Around Your Friends
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Easily upload sports-related blogs, photos and videos to your own, your club's, your team's, or
                        your supporters
                        and fans personal galleries
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">KEEP UP TO DATE</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Notify Your Entire Ecosystem
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Never miss an event or upcoming practice by using Limber’s unique messaging system that keeps
                        everyone involved in your group or club up to date with the latest news and happenings.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">
                        SECURE RESOURCES
                    </h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Get Your Group’s Needs Met
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Limber allows you and your friends to connect with local facilities, coaches, events, clubs, and
                        more so you can secure places and equipment to enjoy your sport.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">
                        GET REWARDED
                    </h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Partner with Local Providers
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Reward your most loyal players and participants with special offers, discounts, promotions, and
                        more just because of their active engagement
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2 pt-4">
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Ready to Get Started?
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Don’t take our word for it. Sign up today and enjoy all the benefits Limber has to offer. Time
                        to get off that couch and reengage with the world around you, but this time, in a sport you have
                        loved for years.
                    </p>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Limber is your best passport to staying fit and building a rewarding lifestyle with fellow
                        like-minded enthusiasts eager to have fun. Use our form below to sign up for your own Limber
                        account!
                    </p>
                </div>

            </div>

            <div class="flex flex-col items-center text-start text-[#fff] col-span-4 max-md:col-span-12 gap-4 px-8">

                <div class="bg-[#0c5060] w-full px-4 py-6 rounded-[10px] flex flex-col gap-3">
                    <h3 class="font-bold">Limber Community</h3>
                    <img src="../../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/For Coaches/side-section-02-img-01.png"
                        class="w-full" />
                    <p class="text-white">Limber is a community where anyone interested in sport and physical
                        activity,
                        including individuals, athletes, coaches, referee, parents, teams and clubs and brands go all
                        about and
                        share
                        everything they know and love about sports and fitness, teams and clubs, events, success stories
                        or the
                        hottest Limber community news – Limber has you covered</p>
                    <button
                        class="text-center transition-colors text-pink-500 bg-[#e4e8e9] hover:bg-[#ff7c5b] rounded-md py-2 text-[17px] font-semibold w-full self-center"
                        [routerLink]="('/sign-up')">Join
                        now</button>
                    <span class="w-full flex items-start">
                        <img src="../../../../../../assets/random/GetItOnGooglePlay.png"
                            class="w-1/2 cursor-pointer self-center h-10">
                        <img src="../../../../../../assets/random/GetItOnAppleStore.png"
                            class="w-1/2 cursor-pointer self-center h-11">
                    </span>
                </div>
            </div>

            <div class="testimonial-section centred col-span-full py-6">
                <div class="auto-container">
                    <div class=" flex flex-col items-start text-start">
                        <h2 class="text-3xl text-[#0c5060] font-semibold max-sm:text-2xl">Testimonials</h2>
                    </div>

                   <app-testimonials [crouselData]="testimonials"></app-testimonials>

                    <!--<ngb-carousel #carousel [interval]="15000" [pauseOnHover]="pauseOnHover"
                        [pauseOnFocus]="pauseOnFocus" [showNavigationIndicators]="showNavigationIndicators"
                        [wrap]="wrap" (slide)="onSlide($event)">
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4 max-md:grid-cols-8 max-sm:grid-cols-4">
                                <div class="testimonial-block-one col-span-4 pb-20 h-full">
                                    <div class="inner-box h-full">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="z-10">“This Limber app is fantastic for tennis! I've easily found people to play with and joined several exciting competitions. It's perfect for connecting with fellow tennis enthusiasts and improving my game. Highly recommend!”</p>
                                        </div>
                                        <div class="author-box pt-0">
                                            <h4 class="text-[#0c5060]">Raul Espinoza</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            <span class="designation text-[#808080]">Tennis Player</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../../assets/how-it-works/players/player_h_1.png"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="z-10">“Thanks to the Limber app, I've found amazing hiking buddies: Its easy to connect with fellow hikers, andiVe discovered new trails with great company. Perfect for outdoor enthusiasts like me!”</p>
                                        </div>
                                        <div class="author-box pt-5">
                                            <h4 class="text-[#0c5060]">Anna Seccombe</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            <span class="designation text-[#808080]">Hiking</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../../assets/how-it-works/players/player_h_2.png"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 pb-20 max-sm:hidden">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="z-10">“Super easy for me to communicate with my open water swimming friends and tell them about idyllic new swimming spots and arrange get togethers. I love Limber and cannot stop talking about the App  with everyone I know and meet!”</p>
                                        </div>
                                        <div class="author-box pt-3">
                                            <h4 class="text-[#0c5060]">Maria Stancikoba</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            <span class="designation text-[#808080]">Open Water Swimming</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../../assets/how-it-works/players/player_h_3.jpg"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4 max-md:grid-cols-8 max-sm:grid-cols-4">
                                <div class="testimonial-block-one col-span-4 pb-20 max-sm:hidden">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="z-10">"This Limber climbing app is a game-changer!
                                                I've discovered amazing new climbing sites and easily connected with a skilled climbing teacher. Perfect for anyone looking to elevate their climbing experience!”</p>
                                        </div>
                                        <div class="author-box pt-3">
                                            <h4 class="text-[#0c5060]">Brew Leahy</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            <span class="designation text-[#808080]">Climbing</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../../assets/how-it-works/players/player_h_4.png"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 pb-20 h-full">
                                    <div class="inner-box h-full">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="z-10">“This Limber app is fantastic for tennis! I've easily found people to play with and joined several exciting competitions. It's perfect for connecting with fellow tennis enthusiasts and improving my game. Highly recommend!”</p>
                                        </div>
                                        <div class="author-box pt-0">
                                            <h4 class="text-[#0c5060]">Raul Espinoza</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            <span class="designation text-[#808080]">Tennis Player</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../../assets/how-it-works/players/player_h_1.png"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="z-10">“Thanks to the Limber app, I've found amazing hiking buddies: Its easy to connect with fellow hikers, andiVe discovered new trails with great company. Perfect for outdoor enthusiasts like me!”</p>
                                        </div>
                                        <div class="author-box pt-5">
                                            <h4 class="text-[#0c5060]">Anna Seccombe</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            <span class="designation text-[#808080]">Hiking</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../../assets/how-it-works/players/player_h_2.png"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-carousel>-->

                </div>
            </div>

            <div class="w-full max-sm:p-2 text-center col-span-full py-6 flex flex-col items-center">
                <h2 class="text-[#0c5060] mb-6 font-semibold">Talk with Us</h2>

                <div class="flex flex-col p-12 gap-7 max-sm:p-6 bg-[#f5f5f5] rounded-lg w-[90%] max-md:w-full">
                    <div class="flex items-center gap-6 justify-evenly">
                        <input type="text" name="first_name" placeholder="First Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>

                        <input type="text" name="last_name" placeholder="Last Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <input type="email" name="email" placeholder="Email Address"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <div class="flex items-center gap-3 justify-evenly">
                        <input type="text" name="intl_code" placeholder="Int Code"
                            class="py-3 px-3 outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] w-[20%] max-sm:w-[40%]"
                            required>
                        <input type="text" name="telephone_num" placeholder="Telephone Number"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <textarea name="message" cols="200" rows="6"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] transition-all"
                        placeholder="Write Message"></textarea>

                    <button
                        class="text-center transition-colors text-[#fff] hover:bg-[#061a3a] rounded-md p-2 text-[17px] font-semibold px-4 w-fit grad-btn flex self-end">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
