<div class="h-100 mt-5" style="background-color: #d3d3d3;">
  <div class="search-container row p-2 d-flex">
    <!-- 1st div starts -->
    <div class="form-group  col-12 col-md-3 col-lg-3">
      <span class="search-span">Find a player, club, event and more</span>
      <div class="search-select">
        <select name="role" class="select">
          <option data-display="What are you looking for?">Select one</option>
          <option value="Player">Players</option>
          <option value="Games">Games</option>
          <option value="Coach">Coaches</option>
          <option value="Club">Clubs</option>
          <option value="Event Organiser">Events &amp; Competitions</option>
          <option value="Facility Provider">Facilities</option>
        </select>
      </div>
    </div>

    <!-- first div ends -->

    <!-- 2nd div starts -->
    <div class="form-group p-sm-0 col-12 col-md-3 col-lg-3">
      <div class="list search-select">
        <span class="search-span">Select your sport</span>
        <select name="sport" class="">
          <option value="" data-display="">Select a sport</option>
          <option value="Acrobatics">Acrobatics</option>
          <option value="Aikido">Aikido</option>
          <option value="American Football">American Football</option>
          <option value="Angling">Angling</option>
          <option value="Aquathlon">Aquathlon</option>
          <option value="Archery">Archery</option>
          <option value="Arm Wrestling">Arm Wrestling</option>
          <option value="Artistic Skating (Roller)">Artistic Skating (Roller)</option>
          <option value="Athletics">Athletics</option>
          <option value="Australian Rules Football">Australian Rules Football</option>
          <option value="Badminton">Badminton</option>
          <option value="Ballooning">Ballooning</option>
          <option value="Ballroom Dancing">Ballroom Dancing</option>
          <option value="Baseball">Baseball</option>
          <option value="Basketball">Basketball</option>
          <option value="Baton Twirling">Baton Twirling</option>
          <option value="Biathlon">Biathlon</option>
          <option value="Bicycle Polo">Bicycle Polo</option>
          <option value="Billiards and Snooker">Billiards and Snooker</option>
          <option value="BMX">BMX</option>
          <option value="Bobsleigh">Bobsleigh</option>
          <option value="Boccia">Boccia</option>
          <option value="Bowls">Bowls</option>
          <option value="Boxing">Boxing</option>
          <option value="Camogie">Camogie</option>
          <option value="Canoeing">Canoeing</option>
          <option value="Caving">Caving</option>
          <option value="Chinese Martial Arts">Chinese Martial Arts</option>
          <option value="Clay Pigeon Shooting">Clay Pigeon Shooting</option>
          <option value="Climbing">Climbing</option>
          <option value="Cricket">Cricket</option>
          <option value="Croquet">Croquet</option>
          <option value="Cross Country Running">Cross Country Running</option>
          <option value="Curling">Curling</option>
          <option value="Cycling">Cycling</option>
          <option value="Dance Sport">Dance Sport</option>
          <option value="Darts">Darts</option>
          <option value="Diving">Diving</option>
          <option value="Dodgeball">Dodgeball</option>
          <option value="Dragon Boat Racing">Dragon Boat Racing</option>
          <option value="Duathlon">Duathlon</option>
          <option value="E-Sports">E-Sports</option>
          <option value="Equestrian">Equestrian</option>
          <option value="Fencing">Fencing</option>
          <option value="Fives">Fives</option>
          <option value="Floorball">Floorball</option>
          <option value="Folk Dancing">Folk Dancing</option>
          <option value="Football">Football</option>
          <option value="Futsal">Futsal</option>
          <option value="Gaelic Football">Gaelic Football</option>
          <option value="Gliding">Gliding</option>
          <option value="Goalball">Goalball</option>
          <option value="Golf">Golf</option>
          <option value="Gymnastics">Gymnastics</option>
          <option value="Handball">Handball</option>
          <option value="Hang Gliding and Paragliding">Hang Gliding and Paragliding</option>
          <option value="Harness Racing">Harness Racing</option>
          <option value="Health and Beauty Exercise">Health and Beauty Exercise</option>
          <option value="Highland Games">Highland Games</option>
          <option value="Hockey">Hockey</option>
          <option value="Hovering">Hovering</option>
          <option value="Hurling">Hurling</option>
          <option value="Ice Hockey">Ice Hockey</option>
          <option value="Ice Skating">Ice Skating</option>
          <option value="Jet Skiing">Jet Skiing</option>
          <option value="Ju Jitsu">Ju Jitsu</option>
          <option value="Judo">Judo</option>
          <option value="Kabaddi">Kabaddi</option>
          <option value="Karate">Karate</option>
          <option value="Kayaking">Kayaking</option>
          <option value="Keep Fit">Keep Fit</option>
          <option value="Kendo">Kendo</option>
          <option value="Kite Surfing">Kite Surfing</option>
          <option value="Kneeboarding">Kneeboarding</option>
          <option value="Korfball">Korfball</option>
          <option value="Lacrosse">Lacrosse</option>
          <option value="Land-Sailing/Yachting">Land-Sailing/Yachting</option>
          <option value="Life Saving">Life Saving</option>
          <option value="Long Jump">Long Jump</option>
          <option value="Luge">Luge</option>
          <option value="Model Aircraft Flying">Model Aircraft Flying</option>
          <option value="Modern Pentathlon">Modern Pentathlon</option>
          <option value="Motor Cruising">Motor Cruising</option>
          <option value="Motor Cycling">Motor Cycling</option>
          <option value="Motor Sports">Motor Sports</option>
          <option value="Mountain Biking">Mountain Biking</option>
          <option value="Mountaineering">Mountaineering</option>
          <option value="Movement and Dance">Movement and Dance</option>
          <option value="Netball">Netball</option>
          <option value="Octopush">Octopush</option>
          <option value="Orienteering">Orienteering</option>
          <option value="Padel Tennis">Padel Tennis</option>
          <option value="Parachuting">Parachuting</option>
          <option value="Petanque">Petanque</option>
          <option value="Pilates">Pilates</option>
          <option value="Ping Pong">Ping Pong</option>
          <option value="Polo">Polo</option>
          <option value="Polocrosse">Polocrosse</option>
          <option value="Pool">Pool</option>
          <option value="Powerboating">Powerboating</option>
          <option value="Powerlifting">Powerlifting</option>
          <option value="Puck Hockey (Roller)">Puck Hockey (Roller)</option>
          <option value="Quoits">Quoits</option>
          <option value="Racketball">Racketball</option>
          <option value="Rackets">Rackets</option>
          <option value="Rafting">Rafting</option>
          <option value="Rambling">Rambling</option>
          <option value="Real Tennis">Real Tennis</option>
          <option value="Roller Derby">Roller Derby</option>
          <option value="Roller Sports">Roller Sports</option>
          <option value="Rounders">Rounders</option>
          <option value="Rowing">Rowing</option>
          <option value="Rugby League">Rugby League</option>
          <option value="Rugby Union">Rugby Union</option>
          <option value="Running">Running</option>
          <option value="Sailing and Yachting">Sailing and Yachting</option>
          <option value="Sand and Land Yachting">Sand and Land Yachting</option>
          <option value="Shinty">Shinty</option>
          <option value="Shooting">Shooting</option>
          <option value="Show Jumping">Show Jumping</option>
          <option value="Skateboarding">Skateboarding</option>
          <option value="Skater Hockey (Roller)">Skater Hockey (Roller)</option>
          <option value="Skiing">Skiing</option>
          <option value="Skipping">Skipping</option>
          <option value="Snooker">Snooker</option>
          <option value="Snowboarding">Snowboarding</option>
          <option value="Soccer">Soccer</option>
          <option value="Softball">Softball</option>
          <option value="Sombo">Sombo</option>
          <option value="Speed Skating (Roller)">Speed Skating (Roller)</option>
          <option value="Speedway">Speedway</option>
          <option value="Squash">Squash</option>
          <option value="Stoolball">Stoolball</option>
          <option value="Sub Aqua">Sub Aqua</option>
          <option value="Surf Life Saving">Surf Life Saving</option>
          <option value="Surfing">Surfing</option>
          <option value="Swimming">Swimming</option>
          <option value="Swimming and Diving">Swimming and Diving</option>
          <option value="Table Tennis">Table Tennis</option>
          <option value="Tang Soo Do">Tang Soo Do</option>
          <option value="Tennis">Tennis</option>
          <option value="Tenpin Bowling">Tenpin Bowling</option>
          <option value="Trampolining">Trampolining</option>
          <option value="Triathlon">Triathlon</option>
          <option value="Tug Of War">Tug Of War</option>
          <option value="Ultimate (Frisbee)">Ultimate (Frisbee)</option>
          <option value="Volleyball">Volleyball</option>
          <option value="Wakeboarding">Wakeboarding</option>
          <option value="Water Polo">Water Polo</option>
          <option value="Water Skiing">Water Skiing</option>
          <option value="Weightlifting">Weightlifting</option>
          <option value="Wheelchair Basketball">Wheelchair Basketball</option>
          <option value="Wheelchair Rugby">Wheelchair Rugby</option>
          <option value="Windsurfing">Windsurfing</option>
          <option value="Wrestling">Wrestling</option>
          <option value="Yoga">Yoga</option>
        </select>
      </div>
    </div>
    <!-- 2nd div ends -->

    <!-- 3rd div starts -->
    <div class="form-group p-sm-0 col-12 col-md-3 col-lg-3">
      <span class="search-span">Choose your location</span>
      <input id="places" name="location" class="text search-text pac-target-input rounded-1 px-2"
        placeholder="Enter location" autocomplete="off">
    </div>
    <!-- 3rd div ends -->


    <!-- 4th div starts -->
    <div class="form-group p-sm-0 col-12 col-md-3 col-lg-3">
      <span class="search-span">Choose your distance</span>
      <div class="search-select">
        <select name="distance" class="w-75">
          <option value="" data-display="">Select one</option>
          <option value="5">5 Miles</option>
          <option value="10">10 Miles</option>
          <option value="25">25 Miles</option>
          <option value="25">50 Miles</option>
          <option value="00">Anywhere</option>
        </select>
      </div>
    </div>
    <!-- 4th div ends -->
    <!-- <div class="col-12 bg-danger p-2">wd</div> -->
    <div class="message-btn mt-4">
      <button id="searchme" type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass pr-2"></i>Find
        Now</button>
    </div>
  </div>

</div>