<!-- <div class="container mt-5">

    <div class="row mt-5">
        <div class="col-md-4 text-center text-style">
            <h2>Book Facility</h2>
        </div>
        <div class="col-md-4 text-center text-style">
            <h2>No excuse to improve your game</h2>
        </div>
        <div class="col-md-4 text-center text-style">
            <h2>Receive discounts from sports Brands</h2>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/easy-book/easyBook1.png" class="card-img-top" alt="image">
                <div class="card-body mt-5">
                    <p>You have found someone to play or a team Book your pitch or facility here</p>
                    <a href="#" class="btn bg-transparent">Book a Sports facility</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/easy-book/easyBook2.png" class="card-img-top" alt="image">
                <div class="card-body mt-5">
                    <p>Book a sports coach for you or your team and raise your bars</p>
                    <a href="#" class="btn bg-transparent">Book a Sports Coach</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/easy-book/easyBook3.png" class="card-img-top" alt="image">
                <div class="card-body mt-5">
                    <p>Promote your brand and products to our Limber community</p>
                    <a href="#" class="btn bg-transparent">Advertise with us</a>
                </div>
            </div>
        </div>
    
</div> -->


<section class="news-section sec-pad">
    <div class="auto-container">
        <!-- <div class="sec-title">
            <h2>Easy to Book Facility. No excuse to Improve your Game. Receive discounts from Sports Brands.</h2>
        </div> -->
        <div class="row clearfix">


            <div
                class="col-lg-4 col-md-6 col-sm-12 news-block text-center flex flex-col items-center justify-between max-lg::justify-center">
                <h2 style="color: white;" class="py-6">Book Facility</h2>
                <div class="news-block-one wow fadeInUp animated animated w-full flex items-center justify-center"
                    data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box max-md:w-[80%]">
                        <figure class="image-box overflow-hidden">
                            <a href="javascript:void(0)" class="h-64 w-full overflow-hidden max-sm:h-40">
                                <img alt="" src="assets/easy-book/easyBook1.png" class="h-full w-full">
                            </a>
                        </figure>
                        <div class="lower-content py-3 px-2">
                            <h5>You have found someone to play or a team. Now book your pitch or facility</h5>
                            <div class="mt-3 btn-box search-btn mx-auto">
                                <a href="/facility-providers" class="text-white no-underline">Book a Sports Facility</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-4 col-md-6 col-sm-12 news-block text-center flex flex-col items-center justify-between max-lg::justify-center">
                <h2 style="color: white;" class="py-6">No excuse to improve your game</h2>
                <div class="news-block-one wow fadeInUp animated animated w-full flex items-center justify-center"
                    data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box max-md:w-[80%]">
                        <figure class="image-box">
                            <a href="javascript:void(0)" class="h-64 w-full overflow-hidden max-sm:h-40">
                                <img alt="" src="assets/easy-book/easyBook2.png" class="h-full w-full">
                            </a>
                        </figure>
                        <div class="lower-content py-3 px-2">
                            <h5>Book a sports coach for you or your team and raise your bars</h5>
                            <div class="mt-3 btn-box search-btn mx-auto">
                                <a href="/coaches" class="text-white no-underline">Book a Sports Coach</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-4 col-md-6 col-sm-12 news-block text-center flex flex-col items-center justify-between max-lg::justify-center">
                <h2 style="color: white;" class="py-6">Receive discounts from sports Brands</h2>
                <div class="news-block-one wow fadeInUp animated animated w-full flex items-center justify-center"
                    data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box max-md:w-[80%]">
                        <figure class="image-box">
                            <a href="javascript:void(0)" class="h-64 w-full overflow-hidden max-sm:h-40">
                                <img alt="" src="assets/easy-book/easyBook3.png" class="h-full w-full">
                            </a>
                        </figure>
                        <div class="lower-content py-3 px-2">
                            <h5>Promote your brand and products to our Limber community</h5>
                            <div class="mt-3 btn-box search-btn mx-auto">
                                <a href="/partners-and-advertisers" class="text-white no-underline">Advertise with Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>