<div class="friend-section sec-pad">
    <div class="auto-container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/make-friend/firstImage.svg" class="align-center">
                <h3 class="text-center">Make Friends</h3>
                <p class="text-center">Find new people at your ability to try, learn or play sports with.</p>
            </div>
            <div class="col-md-4">
                <img src="assets/make-friend/firstImage1.svg" class="align-center">
                <h3 class="text-center">Jump In and Join</h3>
                <p class="text-center">Join new teams and groups, improve with a Coach to and participate in events</p>
            </div>
            <div class="col-md-4">
                <img src="assets/make-friend/firstImage2.svg" class="align-center">
                <h3 class="text-center">Show Us What You Got</h3>
                <p class="text-center">Show off and Tell your friends about your awesome sporting moves or results</p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-4">
                <img src="assets/make-friend/firstImage3.svg" class="align-center">
                <h3 class="text-center">Organise and Book</h3>
                <p class="text-center">Organise your group or team, book coaches and facilities. create events</p>
            </div>
            <div class="col-md-4">
                <img src="assets/make-friend/firstImage4.svg" class="align-center">
                <h3 class="text-center">Sports Feed</h3>
                <p class="text-center">Stay updated with all the latest sports action inspiring you to get active</p>
            </div>
            <div class="col-md-4">
                <img src="assets/make-friend/firstImage5.svg" class="align-center">
                <h3 class="text-center">Earn Rewards</h3>
                <p class="text-center">Get rewarded for your physical and sporting activity</p>
            </div>
        </div>
    </div>
</div>