<app-header></app-header>


<div class="w-full font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] leading-10 max-sm:text-4xl">
                How it works
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                WHAT INSPIRES US TO LIMBER UP!
            </h2>
        </div>
    </div>


    <div class="main-div w-full py-10 px-6 gap-10 flex flex-col justify-center items-center">
        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-base font-semibold text-[#808080] max-md:text-center w-full">FOR PLAYERS</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Get Out & Reconnect</h2>
                <p class="text-[#808080] font-semibold max-md:text-justify w-full">It’s no secret that participating in
                    sports or exercise helps to
                    improve
                    mental health
                    and increase your
                    brain’s endorphins. Now more than ever, there is the feeling of isolation and lack of interaction,
                    particularly due to the Covid-19 crisis.
                    <br />
                    We want to prevent this by giving people the opportunity to connect with others through engaging in
                    sports and
                    healthy exercise, which is where we came up with Limber.
                    <br />
                    We help put an end to feelings of isolation. Limber provides a way for those participating in sports
                    or games
                    to find other like-minded people, as well as find the perfect sports club to join. Time to Limber Up
                    and get
                    back out in the world.
                </p>
                <button (click)="navigateToHomePage()"
                    class="text-[#061a3a] border-white font-semibold hover:border-[#ff7c5b] hover:bg-[#ff7c5b] transition-all p-2 rounded-md hover:text-white">See
                    Details</button>
            </div>
            <div class="w-1/2 bg-white p-4 rounded-lg img-cont max-md:w-full">
                <img src="../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/section-02-img-01-get-out-and-reconnect.png"
                    alt="pic">
            </div>
        </div>

        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="w-1/2 bg-white p-4 rounded-lg img-cont max-md:w-full">
                <img src="../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/section-02-img-02-celebrate-an-active-lifestyle.png"
                    alt="pic">
            </div>
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-base font-semibold text-[#808080] max-md:text-center w-full">FOR CLUBS AND TEAMS</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Celebrate an Active Lifestyle</h2>
                <p class="text-[#808080] font-semibold max-md:text-justify w-full">Limber is built around the idea that
                    everyone should be able to
                    play,
                    learn and participate in sports. We provide a simple way to increase your club roster by connecting
                    enthusiastic participants with your organization. You set the stage. They decide who they play with,
                    learn
                    from, where they play, what competitions or events to participate in, and what equipment they use.
                    <br />
                    We empower millions of people around the world to get active, play, and participate in more sports,
                    using
                    their natural abilities and passions to create a healthier, fitter, more vibrant world. Join us and
                    boost your
                    team or club’s visibility with the new platform by Limber.
                </p>
                <button (click)="navigateToHomePage()"
                    class="text-[#061a3a] border-white font-semibold hover:border-[#ff7c5b] hover:bg-[#ff7c5b] transition-all p-2 rounded-md hover:text-white">See
                    Details</button>
            </div>
        </div>

        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-base font-semibold text-[#808080] max-md:text-center w-full">FOR EVENT ORGANISERS</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">An All-In-One Solution</h2>
                <p class="text-[#808080] font-semibold max-md:text-justify w-full">Putting together all the details
                    needed for a successful
                    tournament, match, or sporting event takes a lot of work. Most of the time, that means using
                    multiple digital platforms, communicating over all kinds of means, and managing massive piles of
                    paperwork.
                    <br />
                    Limber takes all that mess and cuts it down through our easy-to-use platform. Our technology is a
                    comprehensive solution to organizing, accepting payment, scheduling, and promoting your next
                    sporting event.
                    <br />
                    Stop trying to reinvent the wheel every time you have a new promoter and get the consistency you
                    need for a rewarding sports event with the power of Limber.
                </p>
                <button (click)="navigateToHomePage()"
                    class="text-[#061a3a] border-white font-semibold hover:border-[#ff7c5b] hover:bg-[#ff7c5b] transition-all p-2 rounded-md hover:text-white">See
                    Details</button>
            </div>
            <div class="w-1/2 bg-white p-4 rounded-lg img-cont max-md:w-full">
                <img src="../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/section-02-img-03.png" alt="pic">
            </div>
        </div>

        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="w-1/2 bg-white p-4 rounded-lg img-cont max-md:w-full">
                <img src="../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/section-02-img-04.png" alt="pic">
            </div>
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-base font-semibold text-[#808080] max-md:text-center w-full">FOR COACHES</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Celebrate an Active Lifestyle</h2>
                <p class="text-[#808080] font-semibold max-md:text-justify w-full">Coaching is a time-honored pastime
                    and
                    unique opportunity to
                    pass on your knowledge while helping people engage in a passion that keeps them healthy and mentally
                    alert.
                    <br />
                    With Limber, we provide you access to thousands of interested players looking for an experienced
                    coach just like you. We go a bit further than matchmaking. Our platform provides you with all the
                    backend details needed to automate accepting payment, getting in forms, securing practice space, and
                    promoting your team.
                    <br />
                    Enhance your coaching practice with the easy-to-use platform from the team at Limber.
                </p>
                <button (click)="navigateToHomePage()"
                    class="text-[#061a3a] border-white font-semibold hover:border-[#ff7c5b] hover:bg-[#ff7c5b] transition-all p-2 rounded-md hover:text-white">See
                    Details</button>
            </div>

        </div>

        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-base font-semibold text-[#808080] max-md:text-center w-full">FOR FACILITY PROVIDERS</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Increase Community Engagement</h2>
                <p class="text-[#808080] font-semibold max-md:text-justify w-full">When running a sporting facility, the
                    last thing you want is an
                    empty space. Now is the best time to engage with local clubs and organizations looking to rejoin and
                    reconnect after the global pandemic.
                    <br />
                    Limber offers you custom methods of promoting your facility and running payment systems that
                    automate your office work. We want to help your facility become a mainstay of your local community.
                    <br />
                    We offer a central booking system that takes all the guesswork out of keeping your facility
                    operating at its best efficiency year-round. Connect with the experts at Limber today!
                </p>
                <button (click)="navigateToHomePage()"
                    class="text-[#061a3a] border-white font-semibold hover:border-[#ff7c5b] hover:bg-[#ff7c5b] transition-all p-2 rounded-md hover:text-white">See
                    Details</button>
            </div>
            <div class="w-1/2 bg-white p-4 rounded-lg img-cont max-md:w-full">
                <img src="../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/section-02-img-05-increase-community-engagement.png"
                    alt="pic">
            </div>
        </div>

        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="w-1/2 bg-white p-4 rounded-lg img-cont max-md:w-full">
                <img src="../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/section-02-img-06-target-your-campaigns.png"
                    alt="pic">
            </div>
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-base font-semibold text-[#808080] max-md:text-center w-full">FOR BRANDS MARKETERS &
                    ADVISORS</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Target Your Campaigns</h2>
                <p class="text-[#808080] font-semibold max-md:text-justify w-full">Want to get a high ROI for your local
                    ad campaigns? Engage with
                    clubs, teams, and local sports starts by using the Limber platform.
                    <br />
                    Our in-app features help you engage with more customers through promos, special offers, and
                    discounts. You can even run campaigns that reward participants for continual attendance and physical
                    activity.
                    <br />
                    Our dynamic pricing model and targeted promo codes help gamify the marketing experience and
                    personalize your target market reach.
                </p>
                <button (click)="navigateToHomePage()"
                    class="text-[#061a3a] border-white font-semibold hover:border-[#ff7c5b] hover:bg-[#ff7c5b] transition-all p-2 rounded-md hover:text-white">See
                    Details</button>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>