<!-- <div class="container mt-5">
    <div class="row text-center">
        <p class="text-para">EVERYTHING NEEDED TO CONNECT WITH SPORTS ENTHUSIASTS, HOST MATCHES, AND PROMOTE YOUR TEAMS!</p>
        <h1 class="text-style">ONE DESTINATION SPORTS CLUB</h1>
    </div>
    <div class="row mt-3 border-block block-gap text-center">
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 gap">Players/Games</div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 gap">Coaches</div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 gap">Events & Competitions</div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 gap">Facilities</div>
    </div>

</div> -->

<section class="feature-section centred bg-color-1 sec-pad">
    <div class="auto-container">
        <div class="sec-title centred">
            <p>everything needed to connect with sports enthusiasts, host matches, and promote your teams!</p>
            <h2 class="text-5xl max-md:text-3xl">ONE DESTINATION SPORTS CLUB</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block my-2">
                <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="00ms"
                    data-wow-duration="1500ms">
                    <div class="inner-box shadow-lg rounded-md overflow-hidden">
                        <a href="/players-home" class="font-bold no-underline text-[#0c5060]">
                            <figure class="image-box w-full h-40 overflow-hidden"><img
                                    src="assets/one-destination/destination1.png" alt=""
                                    class="w-full h-full object-cover">
                            </figure>
                            <div class="lower-content">
                                <div class="icon-box flex items-center justify-center">
                                    <img alt="" src="assets/one-destination/destinationIcon1.svg">
                                </div>
                                <h4><a>Players</a></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block my-2">
                <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="200ms"
                    data-wow-duration="1500ms">
                    <div class="inner-box shadow-lg rounded-md overflow-hidden">
                        <a href="/coaches-home" class="font-bold no-underline text-[#0c5060]">
                            <figure class="image-box w-full h-40 overflow-hidden"><img
                                    src="assets/one-destination/destination2.png" class="w-full h-full object-cover">
                            </figure>
                            <div class="lower-content">
                                <div class="icon-box flex items-center justify-center">
                                    <img alt="" src="assets/one-destination/destinationIcon2.svg">
                                </div>
                                <h4>
                                    <a>Coaches</a>
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block my-2">
                <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="400ms"
                    data-wow-duration="1500ms">
                    <div class="inner-box shadow-lg rounded-md overflow-hidden">
                        <a href="/clubs-home" class="font-bold no-underline text-[#0c5060]">
                            <figure class="image-box w-full h-40 overflow-hidden"><img
                                    src="assets/one-destination/img-3.jpg" class="w-full h-full object-cover"></figure>
                            <div class="lower-content">
                                <div class="icon-box flex items-center justify-center">
                                    <img alt="" src="assets/one-destination/destinationIcon1.svg">
                                </div>
                                <h4><a>Clubs</a></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block my-2">
                <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="600ms"
                    data-wow-duration="1500ms">
                    <div class="inner-box shadow-lg rounded-md overflow-hidden">
                        <a href="/events-home" class="font-bold no-underline text-[#0c5060]">
                            <figure class="image-box w-full h-40 overflow-hidden">
                                <img src="assets/one-destination/img-4.jpg" class="w-full h-full object-cover">
                            </figure>
                            <div class="lower-content">
                                <div class="icon-box flex items-center justify-center">
                                    <img alt="" src="assets/one-destination/destinationIcon3.svg">
                                </div>
                                <h4>
                                    <a>Competitions</a>
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>