<app-header></app-header>

<div class="font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] max-sm:text-4xl">
                Limber for Event Organizers
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                AN ALL-IN-ONE SOLUTION FOR SUCCESSFULL LOCAL EVENTS, SPORTING MATCHES, TOURNAMENTS, AND COMPETITIONS
            </h2>
        </div>
    </div>

    <div class="w-full px-6 main-div flex justify-center items-center max-[992px]:flex-col">
        <div class="w-full py-8 gap-6 max-w-[1200px] grid grid-cols-12 pt-14">
            <div class="flex flex-col justify-start gap-4 items-center col-span-8 max-md:col-span-12 px-6">
                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">SIMPLIFIED PARTICIPANT COMMUNICATION</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Organizing Event Details
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Limber combines the power of multiple platforms into a single application and website where you
                        can easily collect participant data, accept payment, and issue any updates or notifications
                        about your upcoming event.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">CROSS-PROMOTE YOUR EVENT</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Increase Participation
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Create custom and targeted promotions to those clubs and individual members most likely to
                        engage in your event. Limber provides you with marketing opportunities to improve participation
                        numbers and potential event success.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">
                        FULL MEMBER MANAGEMENT
                    </h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Simplify Your Tournament & Match Process
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Whether you are running a full-scale tournament or single competition, Limber offers bespoke
                        tools that allow you and your event management team to see which participants are signed up,
                        what facilities are booked, and how the day is progressing. You can even send out notifications
                        about the current standings in real-time!
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">PREDICT AND IMPROVE YOUR EVENT NEEDS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Widespread Exposure
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        With active booking software and ability to receive payments all automated in the background,
                        you'll hae more
                        open resource to better predict any needs or challenges for your upcoming event
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">BUILD LOYALTY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Reward Your Clients
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Encourage word of mouth referrals for new clients by offering special discounts, prizes, and
                        gamifying the participation process.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">UNIQUE INSIGHT</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Analytics and Reporting
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Limber comes equipped with custom analytics that provides you with valuable feedback and
                        data-driven insights into improving your club, services, and marketing. This way, you can
                        organically grow interested in your events, sports, and facilities.
                    </p>
                </div>

            </div>

            <div class="flex flex-col items-center text-start text-[#fff] col-span-4 max-md:col-span-12 gap-4 px-8">

                <div class="bg-[#0c5060] w-full px-4 py-6 rounded-[10px] flex flex-col gap-3">
                    <h3 class="font-bold">Limber Community</h3>
                    <img src="../../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/For Coaches/side-section-02-img-01.png"
                        class="w-full" />
                    <p class="text-white">Limber is a community where anyone interested in sport and physical
                        activity,
                        including individuals, athletes, coaches, referee, parents, teams and clubs and brands go all
                        about and
                        share
                        everything they know and love about sports and fitness, teams and clubs, events, success stories
                        or the
                        hottest Limber community news – Limber has you covered</p>
                    <button
                        class="text-center transition-colors text-pink-500 bg-[#e4e8e9] hover:bg-[#ff7c5b] rounded-md w-full py-2 text-[17px] font-semibold"
                        [routerLink]="('/sign-up')">Join
                        now</button>
                    <span class="w-full flex items-start">
                        <img src="../../../../../../assets/random/GetItOnGooglePlay.png"
                            class="w-1/2 cursor-pointer self-center h-10">
                        <img src="../../../../../../assets/random/GetItOnAppleStore.png"
                            class="w-1/2 cursor-pointer self-center h-11">
                    </span>
                </div>
            </div>

            <div class="testimonial-section centred col-span-full py-6">
                <div class="auto-container">
                    <div class=" flex flex-col items-start text-start">
                        <h2 class="text-3xl text-[#0c5060] font-semibold max-sm:text-2xl">Testimonials</h2>
                    </div>

                  <app-testimonials [crouselData]="testimonials"></app-testimonials>

                    <!--<ngb-carousel #carousel [interval]="15000" [pauseOnHover]="pauseOnHover"
                        [pauseOnFocus]="pauseOnFocus" [showNavigationIndicators]="showNavigationIndicators"
                        [wrap]="wrap" (slide)="onSlide($event)">
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4 max-md:grid-cols-8 max-sm:grid-cols-4">
                                <div class="testimonial-block-one col-span-4 pb-20">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Limber has been a great solution for our online entry portal!
                                                The layout and functionality is easy to use from an organisers
                                                perspective and we've had great feedback from our runners, cyclists and
                                                swimmers!”</p>
                                        </div>
                                        <div class="author-box">
                                            <h4 class="text-[#0c5060]">Breca Swim Run</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img
                                                    src="/assets/how-it-works/event-organise/event_1.png" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p>“As an organisation with over 50 sports events, races, special events and
                                                socials each year it was an absolute breath of fresh air to discover
                                                Limber to help us promote, manage and sell tickets for them all! Perfect
                                                solution!”</p>
                                        </div>
                                        <div class="author-box">
                                            <h4 class="text-[#0c5060]">CSS Sports and Leisure</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img
                                                    src="/assets/how-it-works/event-organise/event_2.jpeg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 pb-20 max-sm:hidden h-full">
                                    <div class="inner-box h-full">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Limber are quite simply a great team to work with, Dynamic,
                                                forward thinking, responsive with a great support team, who deliver!!
                                                Increased participation substantially in our event!”</p>
                                        </div>
                                        <div class="author-box pt-4">
                                            <h4 class="text-[#0c5060]">Bike Oxford</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img
                                                    src="/assets/how-it-works/event-organise/event_3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4 max-md:grid-cols-8 max-sm:grid-cols-4">
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Limber has freed up our time! Managing registration manually
                                                had become a double job: now eveything is easier, everything in the
                                                platform
                                                and App! many more sales too! Fantastic!”</p>
                                        </div>
                                        <div class="author-box pt-7">
                                            <h4 class="text-[#0c5060]">Color Obstacle Rush</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img
                                                    src="/assets/how-it-works/event-organise/event_4.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 pb-20">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Limber has been a great solution for our online entry portal!
                                                The layout and functionality is easy to use from an organisers
                                                perspective and we've had great feedback from our runners, cyclists and
                                                swimmers!”</p>
                                        </div>
                                        <div class="author-box">
                                            <h4 class="text-[#0c5060]">Breca Swim Run</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img
                                                    src="/assets/how-it-works/event-organise/event_1.png" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p>“As an organisation with over 50 sports events, races, special events and
                                                socials each year it was an absolute breath of fresh air to discover
                                                Limber to help us promote, manage and sell tickets for them all! Perfect
                                                solution!”</p>
                                        </div>
                                        <div class="author-box">
                                            <h4 class="text-[#0c5060]">CSS Sports and Leisure</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img
                                                    src="/assets/how-it-works/event-organise/event_2.jpeg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-carousel>-->

                </div>
            </div>

            <div class="w-full max-sm:p-2 text-center col-span-full py-6 flex flex-col items-center">
                <h2 class="text-[#0c5060] mb-6 font-semibold">Create and Promote your Sports Competition or Event</h2>

                <div class="flex flex-col p-12 gap-7 max-sm:p-6 bg-[#f5f5f5] rounded-lg w-[90%] max-md:w-full">
                    <div class="flex items-center gap-6 justify-evenly">
                        <input type="text" name="first_name" placeholder="First Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>

                        <input type="text" name="last_name" placeholder="Last Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <input type="email" name="email" placeholder="Email Address"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <div class="flex items-center gap-3 justify-evenly">
                        <input type="text" name="intl_code" placeholder="Int Code"
                            class="py-3 px-3 outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] w-[20%] max-sm:w-[40%]"
                            required>
                        <input type="text" name="telephone_num" placeholder="Telephone Number"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <input type="text" name="website" placeholder="Website and / or Name of Competition or Event"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <textarea name="message" cols="200" rows="6"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] transition-all"
                        placeholder="Write Message"></textarea>

                    <button
                        class="text-center transition-colors text-[#fff] hover:bg-[#061a3a] rounded-md p-2 text-[17px] font-semibold px-4 w-fit grad-btn flex self-end">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
