<app-header></app-header>

<div class="font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] max-sm:text-4xl">
                Limber for Clubs & Teams
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                EASILY MANAGE YOUR CLUB OR TEAM, COMMUNICATE WITH MEMEBERS, PROMOTE YOUR ORGANIZATION, ENCOURAGE NEW
                MEMBERSHIPS, AND BUILD A LOCAL SPORTING ECOSYSTEM
            </h2>
        </div>
    </div>

    <div class="w-full px-6 main-div flex justify-center items-center max-[992px]:flex-col">
        <div class="w-full py-8 gap-6 max-w-[1200px] grid grid-cols-12 pt-14">
            <div class="flex flex-col justify-start gap-4 items-center col-span-8 max-md:col-span-12 px-6">
                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">EFFICIENT MANAGEMENT</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Organize Your Clubs & Teams
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Keep all your club and team information in one central location. Improve membership management,
                        including match day selection, messaging, scheduling, and training. Limber is your complete
                        all-in-one club and team management solution.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">SIMPLY THE BEST</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Showoff Your Club & Teams Achievements
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Distribute regular club and team news, match results, event photos/videos to all your membership
                        and local fans.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">90% BOOKED THIS MONTH</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Increase Unitization
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Integrate local accessibility and awareness to your local faculties by helping improve revenue
                        streams and increasing bookings. We even utilize last-minute bookings with instantaneous
                        features for everyone to see.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">
                        COMMUNITY LED FACILITY USE
                    </h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Maximize Facility Engagement
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Find new clients looking for coaching services by promoting your sport, club, team, or coaching
                        sessions locally to targeted athletic clubs and social players. This includes distributing
                        unique marketing materials.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">MORE VISIBILITY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Boost Participation
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Cut down on the mundane back office and administration tasks by automating frequent processes so
                        you can focus on increasing community involvement and individual participation. Limber allows
                        you to create events and take registrations all through the app or website platform.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">BUILD LOYALTY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Reward Repeat Members & Referrals
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Create custom reward systems that encourage members, non-members, local community groups, and
                        more to book and use your club facilities. This increases participation and helps build strong
                        bonds within your community.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">UNIQUE INSIGHTS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Analytics and Reporting
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Limber comes equipped with custom analytics that provides you with valuable feedback and
                        data-driven insights into improving your club, services, and marketing. This way, you can
                        organically grow interested in your events, sports, and facilities.
                    </p>
                </div>

            </div>

            <div class="flex flex-col items-center text-start text-[#fff] col-span-4 max-md:col-span-12 gap-4 px-8">

                <div class="bg-[#0c5060] w-full px-4 py-6 rounded-[10px] flex flex-col gap-3">
                    <h3 class="font-bold">Limber Community</h3>
                    <img src="../../../../../../assets/WEBSITE - HOW IT WORKS FOR IMAGES/For Coaches/side-section-02-img-01.png"
                        class="w-full" />
                    <p class="text-white">Limber is a community where anyone interested in sport and physical
                        activity,
                        including individuals, athletes, coaches, referee, parents, teams and clubs and brands go all
                        about and
                        share
                        everything they know and love about sports and fitness, teams and clubs, events, success stories
                        or the
                        hottest Limber community news – Limber has you covered</p>
                    <button
                        class="text-center transition-colors text-pink-500 bg-[#e4e8e9] hover:bg-[#ff7c5b] rounded-md w-full py-2 text-[17px] font-semibold"
                        [routerLink]="('/sign-up')">Join
                        now
                    </button>
                    <span class="w-full flex items-start">
                        <img src="../../../../../../assets/random/GetItOnGooglePlay.png"
                            class="w-1/2 cursor-pointer self-center h-10">
                        <img src="../../../../../../assets/random/GetItOnAppleStore.png"
                            class="w-1/2 cursor-pointer self-center h-11">
                    </span>


                </div>
            </div>

            <div class="testimonial-section centred col-span-full py-6">
                <div class="auto-container">
                    <div class=" flex flex-col items-start text-start">
                        <h2 class="text-3xl text-[#0c5060] font-semibold max-sm:text-2xl">Testimonials</h2>
                    </div>

                  <app-testimonials [crouselData]="testimonials"></app-testimonials>

                   <!-- <ngb-carousel #carousel [interval]="15000" [pauseOnHover]="pauseOnHover"
                        [pauseOnFocus]="pauseOnFocus" [showNavigationIndicators]="showNavigationIndicators"
                        [wrap]="wrap" (slide)="onSlide($event)">
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4 max-md:grid-cols-8 max-sm:grid-cols-4">
                                <div class="testimonial-block-one col-span-4 pb-20">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Limber has been a greater solution for our club making it super
                                                easy for new members to join, pay annual membership fees and find out
                                                events and competitions and new friends to play with. We love it!”</p>
                                        </div>
                                        <div class="author-box pt-8">
                                            <h4 class="text-[#0c5060]">St Andrews University <br> Squash Club</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span>
                                            <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img src="/assets/how-it-works/club/club_5.jpeg"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="m-0">“Super easy to use and setup within and hour! All of our
                                                members love
                                                being able to find out about competitions and people looking for a game.
                                                We couldn't survive without it”</p>
                                        </div>
                                        <div class="author-box pt-20">
                                            <h4 class="text-[#0c5060]">Princes Risborough Golf Club</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span>
                                            <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img src="/assets/how-it-works/club/club_4.jpg"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 pb-20 max-sm:hidden">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Quite simply we cannot believe how we all managed bedore Limber
                                                and it has done wonders for our business. Increased Membership,
                                                Increased number for training sessions and best of all built us a
                                                awesome community”</p>
                                        </div>
                                        <div class="author-box pt-8">
                                            <h4 class="text-[#0c5060]">On your Bike Fitness Club</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img src="/assets/how-it-works/club/club_1.jpg"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4 max-md:grid-cols-8 max-sm:grid-cols-4">
                                <div class="testimonial-block-one col-span-4 pb-20 max-sm:hidden">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Since adopting the software we have seen increased payment
                                                collection by 15% and collect payment 3x fater than ever before. If that
                                                wasn't good enough, it has also reduced my time spent on admin by 80%.
                                                We think those results speak for themselves”</p>
                                        </div>
                                        <div class="author-box">
                                            <h4 class="text-[#0c5060]">Haddenham Tennis Club</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span> &ndash;&gt;
                                            &lt;!&ndash; <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img src="/assets/how-it-works/club/club_3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 pb-20">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“Limber has been a greater solution for our club making it super
                                                easy for new members to join, pay annual membership fees and find out
                                                events and competitions and new friends to play with. We love it!”</p>
                                        </div>
                                        <div class="author-box pt-8">
                                            <h4 class="text-[#0c5060]">St Andrews University <br> Squash Club</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span>
                                            <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img src="/assets/how-it-works/club/club_5.jpeg"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="m-0">“Super easy to use and setup within and hour! All of our
                                                members love
                                                being able to find out about competitions and people looking for a game.
                                                We couldn't survive without it”</p>
                                        </div>
                                        <div class="author-box pt-20">
                                            <h4 class="text-[#0c5060]">Princes Risborough Golf Club</h4>
                                            &lt;!&ndash; <span class="designation text-[#808080]">Oxford University</span>
                                            <span class="designation text-[#808080]">General Manager</span> &ndash;&gt;
                                            <figure class="thumb-box"><img src="/assets/how-it-works/club/club_4.jpg"
                                                    alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </ng-template>
                    </ngb-carousel>-->

                </div>
            </div>

            <div class="w-full max-sm:p-2 text-center col-span-full py-6 flex flex-col items-center">
                <h2 class="text-[#0c5060] mb-6 font-semibold">Register you Sports Club or Team</h2>

                <div class="flex flex-col p-12 gap-7 max-sm:p-6 bg-[#f5f5f5] rounded-lg w-[90%] max-md:w-full">
                    <div class="flex items-center gap-6 justify-evenly">
                        <input type="text" name="first_name" placeholder="First Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>

                        <input type="text" name="last_name" placeholder="Last Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <input type="text" name="club_name" placeholder="University Sports Club Name"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <input type="text" name="postion" placeholder="Position / Title"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <input type="email" name="email" placeholder="Email Address"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <div class="flex items-center gap-3 justify-evenly">
                        <input type="text" name="intl_code" placeholder="Int Code"
                            class="py-3 px-3 outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] w-[20%] max-sm:w-[40%]"
                            required>
                        <input type="text" name="telephone_num" placeholder="Telephone Number"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <textarea name="message" cols="200" rows="6"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] transition-all"
                        placeholder="Write Message"></textarea>

                    <button
                        class="text-center transition-colors text-[#fff] hover:bg-[#061a3a] rounded-md p-2 text-[17px] font-semibold px-4 w-fit grad-btn flex self-end">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
