<app-header></app-header>

<div class="font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] max-sm:text-4xl">
                Your Corporate Sports Clubs
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                BREAK THE 9 TO 5 GRIND BY INCLUDING CORPORATE SPORTS AND CLUB OPPORTUNITIES FOR YOUR WORKFORCE. THIS IS
                YOUR
                OPPORTUNITY TO BOOST EMPLOYEE ENGAGEMENT AND BUILD A REWARDING COMPANY CULTURE.
            </h2>
        </div>
    </div>

    <div class="w-full px-6 main-div flex justify-center items-center max-[992px]:flex-col">
        <div class="w-full py-8 gap-6 max-w-[1200px] grid grid-cols-12">
            <div class="flex flex-col justify-start gap-4 items-center col-span-8 max-md:col-span-12 px-6">
                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">ENCOURAGE TEAM BUILDINGS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Simplify Hosting Corporate Sports Events
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Limber reduces the stress or complexity of creating, managing, and promoting corporate sports
                        clubs. This
                        way, your company can challenge other corporate sports clubs, all while maintaining team records
                        through an
                        easy-to-use app platform.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">PROMOTE COMPANY NEWS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Improve Employee Engagement
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        When you associate corporate sports with positive feelings among your employees, they will be
                        more receptive
                        to company news, updates, upcoming events, policy changes, and more that can all be managed
                        through Limber.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">
                        GREATER FACILITY MANAGEMENT
                    </h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Utilize Company Resources
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Whether you have a partnership with a local gym, a grant for promoting more health and wellness,
                        or an
                        in-house facility for sporting events, Limber helps you maintain these resources so employees
                        can sign up,
                        schedule, and communicate when they want to play next.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">BUILD LOYALTY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Reward Your Clients
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Encourage word of mouth referrals for new clients by offering special discounts, prizes, and
                        gamifying the
                        participation process.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">ENHANCE BRAND LOYALTY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Employee Led Rewards
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Demonstrate the rewards available to employees that participate in corporate sports teams and
                        clubs. Not
                        only does this help incentivize their participation, but it shows the local community you are
                        willing to
                        invest in community well-being.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">HIT TARGET KPIs</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Employee Led Rewards
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Demonstrate the rewards available to employees that participate in corporate sports teams and
                        clubs. Not
                        only does this help incentivize their participation, but it shows the local community you are
                        willing to
                        invest in community well-being.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">ENHANCE BRAND LOYALTY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Achieve Health & Fitness Goals
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        Limber's integrated analytics and automated systems help you manage any new employee health and
                        fitness
                        plans. In addition, you can secure more grants, insurance write-offs, or government funding by
                        showcasing
                        the success of these company culture health goals.
                    </p>
                </div>

            </div>

            <div class="flex flex-col items-center text-start text-[#fff] col-span-4 max-md:col-span-12 gap-4 px-8">
                <div
                    class="side-card h-[1090px] w-full flex flex-col justify-end pb-16 px-4 gap-3 bg-no-repeat max-[992px]:bg-repeat">
                    <h3 class="m-0">Limber Mobile App</h3>
                    <p class="text-white m-0">The sporting app you have waited for. Register now for exclusive
                        first access
                    </p>
                    <input type="email" name="email" placeholder="Email Address"
                        class="py-2 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>
                    <button
                        class="text-center transition-colors grad-btn hover:bg-[#061a3a] rounded-md w-full py-2 text-[17px] font-semibold">Register</button>
                </div>
            </div>

            <div class="testimonial-section centred col-span-full py-6">
                <div class="auto-container">
                    <div class=" flex flex-col items-start text-start">
                        <h2 class="text-3xl text-[#0c5060] font-semibold max-sm:text-2xl">Testimonials</h2>
                    </div>
                 <app-testimonials
                   [crouselData]="testimonials"
                 ></app-testimonials>

                  <!--<div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row g-4">
                            <div class="col-12 col-sm-6 col-md-4 mb-4">
                              <div class="card border-0 shadow-sm">
                                <div class="card-body text-center">
                                  <div class="mb-3">
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                  </div>
                                  <p class="card-text">“We have more than 500 employees at our facility. Trying to get a round-robin game of any kind going for after work five-a-side football is practically a mess. Limber makes that so much easier with a unified platform we can all communicate through.”</p>
                                  <div class="d-flex align-items-center justify-content-center mt-4">
                                    <img src="/assets/corporate-sport/corporate_1.jpeg" class="rounded-circle me-3" alt="Charlotte Baker" width="50">
                                    <div>
                                      <h5 class="mb-0 text-primary">Charlotte Baker</h5>
                                      <small class="text-muted">Savills, Senior Surveyor</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 mb-4">
                              <div class="card border-0 shadow-sm">
                                <div class="card-body text-center">
                                  <div class="mb-3">
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                  </div>
                                  <p class="card-text">“Employees have been signing up to Limber and everyone is finding new people to play sport with. Corporate teams have been set up and our employees' health and wellbeing have improved, reducing sick leave and boosting company performance.”</p>
                                  <div class="d-flex align-items-center justify-content-center mt-4">
                                    <img src="/assets/corporate-sport/corporate_2.png" class="rounded-circle me-3" alt="Roman Alexander" width="50">
                                    <div>
                                      <h5 class="mb-0 text-primary">Roman Alexander</h5>
                                      <small class="text-muted">Bunzi, Sales Director</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 mb-4">
                              <div class="card border-0 shadow-sm">
                                <div class="card-body text-center">
                                  <div class="mb-3">
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                    <span class="text-warning"><i class="fa fa-star"></i></span>
                                  </div>
                                  <p class="card-text">“The platform has made organizing sports events at our company so much easier. With the Limber platform, everyone can join in on the fun, and it's a fantastic way to promote teamwork and healthy living among our employees.”</p>
                                  <div class="d-flex align-items-center justify-content-center mt-4">
                                    <img src="/assets/corporate-sport/corporate_3.png" class="rounded-circle me-3" alt="Emily Johnson" width="50">
                                    <div>
                                      <h5 class="mb-0 text-primary">Emily Johnson</h5>
                                      <small class="text-muted">ACME Corp, HR Manager</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>

   &lt;!&ndash;                 &lt;!&ndash; Carousel Controls &ndash;&gt;
                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>&ndash;&gt;
                  </div>-->



                </div>
            </div>

            <div class="w-full max-sm:p-2 text-center col-span-full py-6 flex flex-col items-center">
                <h2 class="text-[#0c5060] mb-6 font-semibold">Sign up your Company Sports Clubs and Employees</h2>
                <p class="text-[#808080] font-semibold">Encourage Sports and Fitness Amongst Your Employees</p>

                <div class="flex flex-col p-12 gap-7 max-sm:p-6 bg-[#f5f5f5] rounded-lg w-[90%] max-sm:w-full">
                    <div class="flex items-center gap-6 justify-evenly">
                        <input type="text" name="first_name" placeholder="First Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>

                        <input type="text" name="last_name" placeholder="Last Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <input type="text" name="club_name" placeholder="University Sports Club Name"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <input type="text" name="postion" placeholder="Position / Title"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <input type="email" name="email" placeholder="Email Address"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <div class="flex items-center gap-3 justify-evenly">
                        <input type="text" name="intl_code" placeholder="Int Code"
                            class="py-3 px-3 outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] w-[20%] max-sm:w-[40%]"
                            required>
                        <input type="text" name="telephone_num" placeholder="Telephone Number"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <textarea name="message" cols="200" rows="6"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] transition-all"
                        placeholder="Write Message"></textarea>

                    <button
                        class="text-center transition-colors text-[#fff] hover:bg-[#061a3a] rounded-md p-2 text-[17px] font-semibold px-4 w-fit grad-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
