<app-header></app-header>

<div class="font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] max-sm:text-4xl">
                University Sport's Clubs
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                ELEVATE CAMPUS LIVING WITH BESPOKE CONTROL OF YOUR VARIOUS SPORTING
                FACILITIES, CLUBS, AND ACTIVE ORGANIZATIONS THROUGHOUT YOUR UNIVERSITY OR
                COLLEGE LIFE PROGRAMMING.
            </h2>
        </div>
    </div>

    <div class="w-full px-6 main-div flex justify-center items-center max-[992px]:flex-col">
        <div class="w-full py-8 gap-6 max-w-[1200px] grid grid-cols-12">
            <div class="flex flex-col justify-start gap-4 items-center col-span-8 max-md:col-span-12 px-6">
                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">SIMPLIFIED SIGN UPS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3 max-sm:text-2xl">
                        Organize Your University Clubs & Teams
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm ">
                        With so many new students entering your educational organization each
                        semester, maintaining an accurate record of each member and their
                        progress is essential to success. Limber provides a simplified
                        universal platform to effortlessly capture new membership information.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg ">BALANCE CLUB PROMOTIONS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Ensure Greater University Team Participation
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Showcase the benefits of joining various university clubs and teams to
                        the rest of campus life by utilizing Limber’s ability to send news,
                        match results, events, and engaging content to every member on the
                        lists.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">
                        GREATER FACILITY MANAGEMENT
                    </h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Support University Resources
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Alumni and donating community members want to see all University
                        facilities being utilized. Limber helps show clubs, coaches, team
                        members, and students what buildings are ready through an integrative
                        time management integration.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">FIND NEW TEAM PLAYERS</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Maximize Community Involvement
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Find new students by using Limber to advertise to local community
                        sporting teams, events, and feeding school programs that ensure your
                        institution always has the best and brightest talent to pick from for
                        the upcoming season.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">BUILD COLLEGE BRANDING</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Student Led Rewards
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Customize the use of your facilities for different members and
                        University led organizations that reward them based on use, loyalty
                        programs, community involvement, and more. This is a fantastic way to
                        incentivize a more vibrant student life culture.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">MORE VISIBILITY</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Boost Participation
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        Cut down on the mundane back office and administration tasks by
                        automating frequent processes so you can focus on increasing community
                        involvement and individual participation. Limber allows you to create
                        events and take registrations all through the app or website platform.
                    </p>
                </div>

                <div class="flex flex-col justify-center items-start text-start text-[#0c5060] w-full px-2">
                    <h5 class="text-xl font-normal leading-4 max-sm:text-lg">SIMPLIFIED APP</h5>
                    <h3 class="font-semibold text-3xl leading-10 mb-3  max-sm:text-2xl">
                        Cut Down on Confusion
                    </h3>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm mb-6">
                        There are so many working parts to a University team or club. That is
                        why Limber provides both a web portal and a downloadable mobile
                        application for iOS and Android devices. This way, your facilities can
                        be completely managed, promotions integrated, and student membership
                        data analysed for greater efficiency.
                    </p>
                    <p class="font-normal text-[#808080] text-base max-sm:text-sm">
                        This also cuts way down on lost time between operational transitions.
                        So many University led programs are maintained by student employees.
                        Having a simplified app system means less time training your workers
                        and more time getting the full use of your facilities to boost student
                        life!
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center text-start text-[#fff] col-span-4 max-md:col-span-12 gap-4 px-8">
                <div
                    class="side-card h-[1090px] w-full flex flex-col justify-end pb-16 px-4 gap-3 bg-no-repeat max-[992px]:bg-repeat">
                    <h3 class="m-0">Limber Mobile App</h3>
                    <p class="text-white m-0">The sporting app you have waited for. Register now for exclusive
                        first access
                    </p>
                    <input type="email" name="email" placeholder="Email Address"
                        class="py-2 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>
                    <button
                        class="text-center transition-colors grad-btn hover:bg-[#061a3a] rounded-md w-full py-2 text-[17px] font-semibold">Register</button>
                </div>
            </div>

            <div class="testimonial-section centred col-span-full py-6">
                <div class="auto-container">
                    <div class=" flex flex-col items-start text-start">
                        <h2 class="text-3xl text-[#0c5060] font-semibold max-sm:text-2xl">Testimonials</h2>
                    </div>

                  <app-testimonials [crouselData]="testimonials"></app-testimonials>

                    <!--<ngb-carousel #carousel [interval]="15000" [pauseOnHover]="pauseOnHover"
                        [pauseOnFocus]="pauseOnFocus" [showNavigationIndicators]="showNavigationIndicators"
                        [wrap]="wrap" (slide)="onSlide($event)">
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4">
                                <div
                                    class="testimonial-block-one col-span-4 max-md:col-span-6 pb-20 max-sm:col-span-full w-full">
                                    <div class="inner-box w-full">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“I'm amazed how many students had never heard of the all the
                                                different college & university sports, clubs and organisations available
                                                on campus. Limber helped us promote our club leading to an increase in
                                                members of 30% from previous year”</p>
                                        </div>
                                        <div class="author-box pt-24">
                                            <h4 class="text-[#0c5060]">Molly Robb</h4>
                                            <span class="designation text-[#808080]">University of Bath Netball
                                                Club</span>
                                            <span class="designation text-[#808080]">Secretary</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../assets/University-sports/review-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20 w-full">
                                    <div class="inner-box text-center pr-4 w-full">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p>“Limber is great for promoting and selling tickets for our matches and
                                                events and registrations for competitions we organise! This year alone
                                                our club revenues and attendance have increased by over double and we
                                                are only half way through the year!”</p>
                                        </div>
                                        <div class="author-box pt-24">
                                            <h4 class="text-[#0c5060]">Ryan Williams</h4>
                                            <span class="designation text-[#808080]">Cardiff University Mens Football
                                                Club</span>
                                            <span class="designation text-[#808080]">Mens 1st XI Captain</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../assets/University-sports/review-2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="testimonial-block-one col-span-4 max-md:col-span-6 pb-20 max-sm:hidden w-full">
                                    <div class="inner-box w-full">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“It only took a day to get used to using Limber for our
                                                facilities management and enroll or the university sports clubs and
                                                students. We were able to sign up the clubs and students. We were able
                                                to sign up the clubs and students in no time! The ease of finding
                                                availability and booking means availability has decreased for courts,
                                                pitches and sports halls!”
                                            </p>
                                        </div>
                                        <div class="author-box pt-2">
                                            <h4 class="text-[#0c5060]">Sienna Burton</h4>
                                            <span class="designation text-[#808080]">Oxford University Sport</span>
                                            <span class="designation text-[#808080]">General Manager</span>
                                            <figure class="thumb-box"><img
                                                    src="../../../../../assets/University-sports/review-3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4">
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p>“Limber is great for promoting and selling tickets for our matches and
                                                events and registrations for competitions we organise! This year alone
                                                our club revenues and attendance have increased by over double and we
                                                are only half way through the year!”</p>
                                        </div>
                                        <div class="author-box pt-24">
                                            <h4 class="text-[#0c5060]">Ryan Williams</h4>
                                            <span class="designation text-[#808080]">Cardiff University Mens Football
                                                Club</span>
                                            <span class="designation text-[#808080]">Mens 1st XI Captain</span>
                                            <figure class="thumb-box"><img src="../../../../../assets/University-sports/review-2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:col-span-6 pb-20 max-sm:hidden">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“It only took a day to get used to using Limber for our
                                                facilities management and enroll or the university sports clubs and
                                                students. We were able to sign up the clubs and students. We were able
                                                to sign up the clubs and students in no time! The ease of finding
                                                availability and booking means availability has decreased for courts,
                                                pitches and sports halls!”
                                            </p>
                                        </div>
                                        <div class="author-box pt-2">
                                            <h4 class="text-[#0c5060]">Sienna Burton</h4>
                                            <span class="designation text-[#808080]">Oxford University Sport</span>
                                            <span class="designation text-[#808080]">General Manager</span>
                                            <figure class="thumb-box"><img src="../../../../../assets/University-sports/review-3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="testimonial-block-one col-span-4 max-md:col-span-6 pb-20 max-sm:col-span-full">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“I'm amazed how many students had never heard of the all the
                                                different college & university sports, clubs and organisations available
                                                on campus. Limber helped us promote our club leading to an increase in
                                                members of 30% from previous year”</p>
                                        </div>
                                        <div class="author-box pt-24">
                                            <h4 class="text-[#0c5060]">Molly Robb</h4>
                                            <span class="designation text-[#808080]">University of Bath Netball
                                                Club</span>
                                            <span class="designation text-[#808080]">Secretary</span>
                                            <figure class="thumb-box"><img src="../../../../../assets/University-sports/review-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="grid grid-cols-12 w-full gap-4">
                                <div class="testimonial-block-one col-span-4 max-md:col-span-6 pb-20 max-sm:hidden">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“It only took a day to get used to using Limber for our
                                                facilities management and enroll or the university sports clubs and
                                                students. We were able to sign up the clubs and students. We were able
                                                to sign up the clubs and students in no time! The ease of finding
                                                availability and booking means availability has decreased for courts,
                                                pitches and sports halls!”
                                            </p>
                                        </div>
                                        <div class="author-box pt-2">
                                            <h4 class="text-[#0c5060]">Sienna Burton</h4>
                                            <span class="designation text-[#808080]">Oxford University Sport</span>
                                            <span class="designation text-[#808080]">General Manager</span>
                                            <figure class="thumb-box"><img src="../../../../../assets/University-sports/review-3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="testimonial-block-one col-span-4 max-md:col-span-6 pb-20 max-sm:col-span-full">
                                    <div class="inner-box">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p class="">“I'm amazed how many students had never heard of the all the
                                                different college & university sports, clubs and organisations available
                                                on campus. Limber helped us promote our club leading to an increase in
                                                members of 30% from previous year”</p>
                                        </div>
                                        <div class="author-box pt-24">
                                            <h4 class="text-[#0c5060]">Molly Robb</h4>
                                            <span class="designation text-[#808080]">University of Bath Netball
                                                Club</span>
                                            <span class="designation text-[#808080]">Secretary</span>
                                            <figure class="thumb-box"><img src="../../../../../assets/University-sports/review-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>

                                </div>
                                <div class="testimonial-block-one col-span-4 max-md:hidden pb-20">
                                    <div class="inner-box text-center pr-4">
                                        <div class="w-full flex items-center gap-2 justify-center rating text-lg mb-6">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <div class="icon" style="background-image: url(assets/review/quote-1.png);">
                                            </div>
                                            <p>“Limber is great for promoting and selling tickets for our matches
                                                and
                                                events and registrations for competitions we organise! This year
                                                alone
                                                our club revenues and attendance have increased by over double and
                                                we
                                                are only half way through the year!”</p>
                                        </div>
                                        <div class="author-box pt-24">
                                            <h4 class="text-[#0c5060]">Ryan Williams</h4>
                                            <span class="designation text-[#808080]">Cardiff University Mens
                                                Football
                                                Club</span>
                                            <span class="designation text-[#808080]">Mens 1st XI Captain</span>
                                            <figure class="thumb-box"><img src="../../../../../assets/University-sports/review-2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-template>
                    </ngb-carousel>-->

                </div>
            </div>

            <div class="w-full max-sm:p-2 text-center col-span-full py-6 flex flex-col items-center">
                <h2 class="text-[#0c5060] mb-6 font-semibold">Sign Up your University Sports Club for Free</h2>
                <p class="text-[#808080] font-semibold">More Members and Visibilty For your Club</p>

                <div class="flex flex-col p-12 gap-7 max-sm:p-6 bg-[#f5f5f5] rounded-lg w-[90%] max-sm:w-full">
                    <div class="flex items-center gap-6 justify-evenly">
                        <input type="text" name="first_name" placeholder="First Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>

                        <input type="text" name="last_name" placeholder="Last Name"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <input type="text" name="club_name" placeholder="University Sports Club Name"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <input type="text" name="postion" placeholder="Position / Title"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <input type="email" name="email" placeholder="Email Address"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                        required>

                    <div class="flex items-center gap-3 justify-evenly">
                        <input type="text" name="intl_code" placeholder="Int Code"
                            class="py-3 px-3 outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] w-[20%] max-sm:w-[40%]"
                            required>
                        <input type="text" name="telephone_num" placeholder="Telephone Number"
                            class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b]"
                            required>
                    </div>

                    <textarea name="message" cols="200" rows="6"
                        class="py-3 px-3 w-full outline-none text-[#848484] bg-[#fff] border rounded-md border-[#fff] focus:border-[#ff7c5b] transition-all"
                        placeholder="Write Message"></textarea>

                    <button
                        class="text-center transition-colors text-[#fff] hover:bg-[#061a3a] rounded-md p-2 text-[17px] font-semibold px-4 w-fit grad-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
