<app-header></app-header>
<div class=" w-full font-sans">

  <section class="news-section sec-pad">
    <div class="auto-container">
      <div class="content-box">
        <h1 class="text-5xl max-md:text-4xl max-md:text-center">Reset Password</h1>
      </div>
    </div>
  </section>

<!--  <lib-toastify-toast-container></lib-toastify-toast-container>-->
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200;">
    <ngb-toast
      *ngFor="let toast of _toastService.toasts"
      [autohide]="true"
      [delay]="toast.delay || 5000"
      (hidden)="_toastService.remove(toast)"
      class="{{ toast?.classname }}"
    >
      <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
        <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
      </ng-template>

      <ng-template #text>{{ toast.textOrTpl }}</ng-template>
    </ngb-toast>
  </div>

  <div class="friend-sections sec-pads">

    <div class="form-heading-section">
      <div class="d-flex justify-content-center">
        <p *ngIf="isEmailFormView" class="text-uppercase text-center text-lg max-md:text-base pt-10">
          Enter your email address to send OTP for resetting password
        </p>
        <p *ngIf="isResetPasswordFormView" class="text-uppercase text-center text-lg max-md:text-base pt-10">
          Enter New Password and OTP sent on Email Address
        </p>
      </div>

      <div
        class="w-full justify-content-center section-1 p-10 px-4 max-md:p-4 d-flex items-center justify-center">
        <div class="form-inner max-w-[600px]">
          <h3>Reset Password</h3>
          <!-- <div class="text"><span>or</span></div> -->
          <form *ngIf="isEmailFormView" id="login-form" method="post" class="login-form py-4"
                [formGroup]="emailForm">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="Invalid" type="email" id="email" name="email"
                         placeholder="Enter your email here." autocomplete="on" maxlength="60" required
                         formControlName="email">
                  <span *ngIf="
                                this.emailForm
                                  ?.get('email')?.errors &&
                                this.emailFormSubmitted
                              " class="text-danger text-sm">
                                        Email is required
                                    </span>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group message-btn">
                  <button id="logmein" (click)="sendEmailOTP()"
                          class="text-center text-[#fff] transition-colors bg-[#ff7c5b] hover:bg-[#061a3a] rounded-md w-fit py-2 px-10 text-[17px] font-semibold">
                    Send
                    OTP
                  </button>
                </div>
              </div>
            </div>
          </form>

          <form *ngIf="isResetPasswordFormView" id="login-form" method="post" class="login-form py-4"
                [formGroup]="changePasswordForm">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="Invalid disabled-input" type="email" id="email" name="email"
                         placeholder="Enter your email here." autocomplete="on" maxlength="60" required
                         formControlName="email">
                  <span *ngIf="
                                this.changePasswordForm
                                  ?.get('email')?.errors &&
                                this.changePasswordFormSubmitted
                              " class="text-danger text-sm">
                                        Email is required
                                    </span>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group">
                  <label for="password">Password</label>
                  <span class="flex items-center w-full relative">
                                        <input class="Invalid" type="{{ hidePassword ? 'password' : 'text' }}"
                                               name="password" id="password" formControlName="password"
                                               autocomplete=" new-password" required="">
                                        <i (click)="togglePasswordVisibility()" *ngIf="hidePassword"
                                           class="fa fa-eye absolute cursor-pointer right-2 top-5 max-sm:top-3"
                                           id="show-password"></i>
                                        <i (click)="togglePasswordVisibility()" *ngIf="!hidePassword"
                                           class="fa-solid fa-eye-slash absolute cursor-pointer right-2 top-5 max-sm:top-3">
                                        </i>
                                    </span>
                  <div *ngIf="
                                      getControl['password'].touched &&
                                      getControl['password'].invalid
                                    " class="text-danger">
                    <div *ngIf="getControl['password'].errors?.['required']">
                      Password is required
                    </div>
                    <div *ngIf="getControl['password'].errors?.['minlength']">
                      Password must be at least 8 characters long
                    </div>
                    <div *ngIf="getControl['password'].errors?.['maxlength']">
                      Password cannot be more than 24 characters long
                    </div>
                    <div *ngIf="getControl['password'].errors?.['passwordInvalid']">
                      Password must contain at least one number, one uppercase letter, one
                      lowercase letter, and one special character (&#64;, #, -, [, ], ?, /, ', \, !)
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <span class="flex items-center w-full relative">
                                        <input class="Invalid" type="{{ hideCnfmPassword ? 'password' : 'text' }}"
                                               name="confirm_password" id="confirm_password"
                                               formControlName="confirm_password" autocomplete=" new-password"
                                               required="">
                                        <i (click)="toggleCnfmPasswordVisibility()" *ngIf="hideCnfmPassword"
                                           class="fa fa-eye absolute cursor-pointer right-2 top-5 max-sm:top-3"
                                           id="show-password"></i>
                                        <i (click)="toggleCnfmPasswordVisibility()" *ngIf="!hideCnfmPassword"
                                           class="fa-solid fa-eye-slash absolute cursor-pointer right-2 top-5 max-sm:top-3">
                                        </i>
                                    </span>
                  <span *ngIf="
                                this.changePasswordForm
                                  ?.get('confirm_password')?.errors &&
                                this.changePasswordFormSubmitted
                              " class="text-danger text-sm">
                                        Password is required
                                    </span>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group">
                  <label for="otp">OTP</label>
                  <ng-otp-input
                    (onInputChange)="handleOTPValue($event)"
                    [config]="{length:6, allowNumbersOnly:true}"
                    class="px-2 py-1 rounded-sm mx-auto">
                  </ng-otp-input>

                  <span *ngIf="
            this.changePasswordForm?.get('otp')?.errors &&
            this.changePasswordFormSubmitted
        " class="text-danger text-sm">
            Email is required
        </span>
                </div>
                <p *ngIf="countdown > 0">OTP will expire in: {{ formatCountdown(countdown) }}</p>
                <div class="form-group mt-2">
                  <button type="button" class="btn btn-link p-0 text-sm text-decoration-none"
                          (click)="sendEmailOTP()">
                    Resend OTP
                  </button>
                </div>
              </div>

              <!-- <div class="col-lg-12 col-md-12 col-sm-12 column">
                   <div class="form-group">
                       <label for="otp">OTP</label>
                       <ng-otp-input (onInputChange)="handleOTPValue($event)"
                           [config]="{length:6,allowNumbersOnly:true}"
                           class="px-2 py-1 rounded-sm mx-auto"></ng-otp-input>
                       <span *ngIf="
                   this.changePasswordForm
                     ?.get('otp')?.errors &&
                   this.changePasswordFormSubmitted
                 " class="text-danger text-sm">
                           Email is required
                       </span>
                   </div>

               </div>-->
              <div class="col-lg-12 col-md-12 col-sm-12 column">
                <div class="form-group message-btn">
                  <button id="logmein" (click)="changePassword()"
                          [disabled]="validateUserInput(changePasswordForm.value) !== true"
                          [ngClass]="{'disabled-btn': validateUserInput(changePasswordForm.value) !== true}"
                          class="text-center text-[#fff] transition-colors bg-[#ff7c5b] hover:bg-[#061a3a] rounded-md w-fit py-2 px-10 text-[17px] font-semibold">
                    Change
                    Password
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>

  <style>
    .sports-text {
      font-weight: bolder;
      color: #0c5060;
      margin-top: -40px;
    }

    .login-heading {
      color: grey;
      font-weight: 700px;
      margin-top: 50px;
    }

    .login-form {
      background-color: white;
      border-radius: 10px;
    }

    .section-1 {
      padding: 50px 50px;
    }
  </style>
  <app-footer></app-footer>
