<div class="friend-section sec-pad text-[#0c5060]">
    <div class="auto-container">
        <div class="row py-4">
            <div class="col-md-6">
                <div class="image-border">
                    <img src="/assets/limber-community/limberS1.png">
                </div>
            </div>
            <div class="col-md-6 text-left">
                <h5>LIMBER UP COMMUNITY</h5>
                <h3>Join our community creating a more active, healthier, fitter world for all!</h3>
                <button id="searchme" [routerLink]="('/sign-up')" class="search-btn w-52 mt-2 ">
                    Sign up to Limber
                </button>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-6 flex flex-col w-full text-right items-end max-sm:items-start max-sm:text-left">
                <h5>FOR PROVIDERS AND BUSINESSES</h5>
                <h3 class="">Coaches, Event and Competition Organisers, Facility Providers, Advertisers</h3>
                <button id="searchme" class="search-btn w-52 mt-2 " [routerLink]="('/how-it-works')">
                    Find Out More
                </button>
            </div>
            <div class="col-md-6">
                <div class="image-border">
                    <img src="/assets/limber-community/limberS2.png">
                </div>
            </div>
        </div>
    </div>
</div>