<app-header></app-header>


<div class="w-full font-sans">
    <div class="col-12 hero-section flex justify-center items-center">
        <div class="mt-16 flex flex-col justify-center items-center text-center text-[#fff] max-w-[1200px]">
            <h1 class="font-black text-[50px] leading-10 max-sm:text-4xl">
                We are Sure We are the Best Sports Club
            </h1>
            <h2 class="font-medium text-lg max-sm:text-base">
                WE ARE SURE WE ARE THE WORLDS BEST SPORTS CLUB
            </h2>
        </div>
    </div>


    <div class="main-div w-full py-20 px-6 gap-10 flex flex-col justify-center items-center max-md:py-10">
        <div class="flex items-center justify-evenly gap-14 max-w-[1100px] max-lg:flex-col">
            <div class="flex flex-col items-start text-start gap-2 w-1/2 max-lg:w-full">
                <h5 class="text-lg font-semibold text-[#0c5060] max-md:text-center w-full">OUR STORY</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">How it all Began</h2>
                <p class="text-[#808080] max-md:text-justify w-full">After all the turmoil of being
                    separated from the ones we love or at least engaging in some simple social activities, we decided
                    the world needed a better solution.
                    <br>
                    We began Limber as a way to reconnect with our local friends,
                    family, and community through the shared love of sports. It doesn’t matter if you love chess or
                    rugby. Being able to engage in a team sport where you get to speak with another human being face to
                    face again instead of behind a screen is the best way to improve your health and mental abilities.
                    <br>
                    Limber is a simple solution to empower clubs, individuals, markets, facilities, and coaches to get
                    back into the swing of community involvement once again using an easy-to-understand platform that
                    makes communication and management a breeze.
                </p>
            </div>
            <div class="w-1/2 bg-white p-3 rounded-lg img-cont max-md:w-full">
                <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/section-02-img-01a.png" alt="pic"
                    class="w-full rounded-md">
            </div>
        </div>

        <div class="flex items-center justify-evenly gap-14 max-w-[1200px] max-lg:flex-col">
            <div class="w-1/2 bg-white p-3 rounded-lg img-cont max-md:w-full">
                <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/section-02-img-02.png" alt="pic"
                    class="w-full rounded-md">
            </div>
            <div class="flex flex-col items-start text-start gap-4 w-1/2 max-lg:w-full">
                <h5 class="text-lg font-semibold text-[#0c5060] max-md:text-center w-full">MISSION</h5>
                <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Our Fundamental Ideal</h2>
                <p class="text-[#808080] max-md:text-justify w-full">Limber is designed to help people get
                    healthy and enjoy social activities through the pastime of sports. We provide a centralized platform
                    to help coaches, teams, clubs, organizations, facilities, and individuals improve and create
                    opportunities for everyone to get back into an active lifestyle.
                </p>
            </div>
        </div>

    </div>

    <!-- <div class="w-full py-20 px-6 bg-white gap-10 flex flex-col items-center justify-center max-md:py-10">
        <div class="flex items-center justify-center gap-2 flex-col text-center max-w-[1200px]">
            <h5 class="text-lg font-semibold text-[#0c5060] max-md:text-center w-full">TEAM ROSTER</h5>
            <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Scoring points and motivating the world
                to get more active and do more sport</h2>
        </div>

        <div
            class="w-full grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 items-center justify-between gap-4 px-8 max-w-[1200px]">
            <div class="col-span-1 shadow-lg bg-white w-full flex flex-col items-center text-center pb-2">
                <span class="w-full">
                    <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/section-03-img-01.png" alt=""
                        class="w-full h-auto">
                </span>
                <h5 class="text-lg font-extrabold text-[#0c5060] max-md:text-center w-full pt-2">Xan Varmuza</h5>
                <h5 class="text-base text-[#808080] max-md:text-center w-full">Founder & CEO</h5>
            </div>

            <div class="col-span-1 shadow-lg bg-white w-full flex flex-col items-center text-center pb-2">
                <span class="w-full">
                    <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/Picture5.png" alt=""
                        class="w-full h-auto">
                </span>
                <h5 class="text-lg font-extrabold text-[#0c5060] max-md:text-center w-full pt-2">Prem Kiran</h5>
                <h5 class="text-base text-[#808080] max-md:text-center w-full">CO-Founder & CTO</h5>
            </div>

            <div class="col-span-1 shadow-lg bg-white w-full flex flex-col items-center text-center pb-2">
                <span class="w-full">
                    <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/Picture8.png" alt=""
                        class="w-full h-auto">
                </span>
                <h5 class="text-lg font-extrabold text-[#0c5060] max-md:text-center w-full pt-2">Sahil Kumar</h5>
                <h5 class="text-base text-[#808080] max-md:text-center w-full">Lead Android Dev</h5>
            </div>
        </div>
    </div> -->

    <div class="w-full py-20 px-6  gap-10 flex flex-col items-center justify-center max-md:py-10" id="grad-bg">

        <div class="flex items-center justify-center gap-2 flex-col text-center max-w-[1200px] px-8">
            <h5 class="text-xl font-bold text-white max-md:text-center w-full">PARTNERS</h5>
            <p class="text-white text-lg  max-md:text-center w-full">
                Partnering with individuals, organisations, businesses, charities empowering people to play and
                participate in more sport creating a healthier, fitter, more active world
            </p>

            <div class="w-full flex items-center gap-10 justify-center flex-wrap">

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden w-40 h-40 shadow-md relative">
                        <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/cssc.jpg" alt=""
                            class="w-28 h-28 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-white font-semibold max-md:text-center">
                        CSSC
                    </p>
                </div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden w-40 h-40 shadow-md relative">
                        <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/nhs.jpg" alt=""
                            class="w-28 h-28 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-white font-semibold max-md:text-center">
                        NHS
                    </p>
                </div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden w-40 h-40 shadow-md relative">
                        <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/hype.jpg" alt=""
                            class="w-32 h-32 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-white font-semibold max-md:text-center">
                        Hype Sports Innovation
                    </p>
                </div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden w-40 h-40 shadow-md relative">
                        <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/koa3.jpg" alt=""
                            class="w-32 h-32 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-white font-semibold max-md:text-center">
                        Kick Off&#64;3
                    </p>
                </div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden w-40 h-40 shadow-md relative">
                        <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/slinger.jpg" alt=""
                            class="w-32 h-32 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-white font-semibold max-md:text-center">
                        Slinger
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="w-full py-20 px-6 bg-white gap-10 flex flex-col items-center justify-center max-md:py-10">
        <div class="flex items-center justify-center gap-2 flex-col text-center max-w-[1200px]">
            <h5 class="text-lg font-semibold text-[#0c5060] max-md:text-center w-full">SPORT PARTNERS</h5>
            <h2 class="text-[#0c5060] font-extrabold max-md:text-center w-full">Influencers, Personalities and Sporting
                stars</h2>

            <div class="w-full py-8 px-6 flex items-center justify-between gap-4 max-lg:justify-center flex-wrap">
                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden h-80 w-80 shadow-md relative">
                        <img src="../../../../assets/Di. PARTNERS LOGOS IMAGES/NADINE_GRAVES_PROFILE_PIC.png" alt=""
                            class="w-full h-72 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-[#0c5060] font-bold max-md:text-center pt-4 m-0 text-xl">
                        Nadine Groves
                    </p>
                    <p class="text-[#808080] max-md:text-center">
                        Internation Yoga Intructor
                    </p>
                </div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden h-80 w-80 shadow-md relative">
                        <img src="../../../../assets/Di. PARTNERS LOGOS IMAGES/JORDAN_REYNOLDS_PROFILE_PIC.png" alt=""
                            class="w-full h-72 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-[#0c5060] font-bold max-md:text-center pt-4 m-0 text-xl">
                        Jordan Reynolds
                    </p>
                    <p class="text-[#808080] max-md:text-center">
                        Professional Middleweight Boxer
                    </p>
                </div>

                <div class="flex flex-col items-center gap-2 text-center">
                    <span
                        class="bg-white rounded-full flex items-center justify-center overflow-hidden h-80 w-80 shadow-md relative">
                        <img src="../../../../assets/Di. PARTNERS LOGOS IMAGES/STEVEN_COX PROFILE _PIC.jpg" alt=""
                            class="w-full h-72 object-cover">
                        <span class="w-full h-full absolute bg-none border-[16px] border-white rounded-full"></span>
                    </span>
                    <p class="text-[#0c5060] font-bold max-md:text-center pt-4 m-0 text-xl">
                        Steven Cox
                    </p>
                    <p class="text-[#808080] max-md:text-center">
                        Great Britain Olympic Rower
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="w-full py-20 px-6 bg-careers gap-10 flex flex-col items-center justify-center max-md:py-10">
        <div class="flex items-center justify-center gap-2 flex-col text-center max-w-[1200px] text-white">
            <h5 class="text-lg max-md:text-center w-full">CAREERS</h5>
            <h2 class="font-extrabold max-md:text-center w-full">Small Teams, Global Mission</h2>
            <p>Limber are always looking for enthusiastic, entrepreneurial, high energy new members of our <br
                    class="max-[818px]:hidden"> team. Send us
                your Cover Letter and CV Or email us at recruit&#64;limbersport.com</p>
        </div>
    </div>


    <div class="w-full py-20 px-6 bg-white gap-10 flex flex-col items-center justify-center max-md:py-10">
        <div class="flex items-center justify-center gap-2 flex-col max-w-[1200px] text-[#0c5060]">
            <h2 class="font-extrabold max-md:text-center w-full">In the press</h2>

            <div class="w-full grid grid-cols-3 gap-4 px-8 max-lg:grid-cols-2 max-sm:grid-cols-1 pt-6">

                <div class="col-span-1 w-full flex flex-col items-start gap-2 h-full justify-evenly">
                    <img src="../../../../assets/WEBSITE - ABOUT US PAGE IMAGES/section-03-img-01.png"
                        class="w-full rounded-md overflow-hidden h-72 object-cover max-md:h-fit" />
                    <p class="font-extrabold w-full m-0 text-xl">
                        5 Minutes Interview with Xan Varmuza,
                        Founder of Limber
                    </p>
                    <p class="text-[#808080] w-full m-0 text-sm py-2">
                        Limber, the brainchild of multi-preneuer Xan and his founding team, is creating the worlds first
                        global local sports club making sport accessible to all.
                    </p>
                    <button class="px-4 py-2 text-lg rounded-md border-2 border-[#0c5060] bg-white">Read More</button>
                </div>

                <div class="col-span-1 w-full flex flex-col items-start gap-2 h-full justify-evenly">
                    <img src="../../../../assets/LS - Werbsite - In the Press Image/Section-In-The-Press-image-02-Founders-Institute.png"
                        class="w-full rounded-md overflow-hidden h-72 object-cover max-md:h-fit" />
                    <p class="font-extrabold w-full m-0 text-xl">
                        Accepted into Founders Intitute 2022
                    </p>
                    <p class="text-[#808080] w-full m-0 text-sm py-2">
                        Founder of Limber Xan Varmuza has been accepted into the renowned Accelerator Founders Institute
                        providing business acceleration and entry
                    </p>
                    <button class="px-4 py-2 text-lg rounded-md border-2 border-[#0c5060] bg-white">Read More</button>
                </div>

                <div class="col-span-1 w-full flex flex-col items-start gap-2 h-full justify-evenly">
                    <img src="../../../../assets/LS - Werbsite - In the Press Image/Section-In-The-Press-image-03-Jordon-Reynolds.png"
                        class="w-full rounded-md overflow-hidden h-72 object-cover max-md:h-fit" />
                    <p class="font-extrabold w-full m-0 text-xl">
                        Jordan Reynolds joins the Limber movement as a Ambassador
                    </p>
                    <p class="text-[#808080] w-full m-0 text-sm py-2">
                        Professional boxer and former GB Olympic Champion Jordan Reynolds becomes a Limber Ambassador
                        with a mission to increase more
                    </p>
                    <button class="px-4 py-2 text-lg rounded-md border-2 border-[#0c5060] bg-white">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>