<footer class=" container-fluid bg-[#E6E6E6] footer">
	<div class="container">
		<div class="row mt-5 gap-6">
			<div class="col-md-3">
				<img src="assets/logo/logo.png">
				<p class="mt-6">Creating the complete ecosystem for sports players, coaches, event and competition
					organisers,
					facility providers, brands, marketers, merchandisers and everyone else interested in participating
					in more physical sport or physical activity.</p>
			</div>
			<div class="col-md-2">
				<h3>Quicklinks</h3>
				<ul class="list-unstyled text-left mt-6">
					<li class="mt-2"><a href="news" class="text-color">About Us</a></li>
					<li class="mt-2"><a href="privacy-policy" class="text-color">How It Works</a></li>
					<li class="mt-2"><a href="cookie-policy" class="text-color">Our Services</a></li>
					<li class="mt-2"><a href="terms-and-conditions" class="text-color">News</a></li>
				</ul>

			</div>
			<div class="col-md-3 ">
				<h3>Gallery</h3>
				<div class="grid">
					<img src="assets/footer-image/img-01.png">
					<img src="assets/footer-image/img-02.png">
					<img src="assets/footer-image/img-03.png">
					<img src="assets/footer-image/img-04.png">
					<img src="assets/footer-image/img-05.png">
					<img src="assets/footer-image/img-06.png">
				</div>
			</div>
			<div class="col-md-3">
				<h3>Contact Us</h3>
				<ul class="list-unstyled text-left mt-6">
					<li class="mt-2"><i class="fas fa-map-marker-alt mr-2"></i>5 Brayford Square,<br>London, E1 0SG
					</li>
					<li class="mt-2"><i class="fas fa-microphone"></i><a class="text-color ml-2"
							href="tel:+442039836856">+44 (0) 203 983 6856</a></li>
					<li class="mt-2"><i class="fas fa-envelope"></i><a class="text-color ml-2"
							href="mailto:info@limbersport.com">info&#64;limbersport.com</a></li>
				</ul>
			</div>
		</div>
		<div class="row all-right mt-2 mb-5">
			<div class="col-12 col-sm-12 col-xs-12 social-links">
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100072296461554" aria-label="Facebook">
					<img src="assets/social/facebook.png" alt="Facebook" width="25" height="25"></a>
				<a target="_blank" href="https://www.linkedin.com/company/limbersport/" aria-label="LinkedIn"><img
						src="assets/social/linkedIn.png" alt="LinkedIn" width="25" height="25"></a>
				<a target="_blank" href="https://x.com/limber_official" aria-label="Twitter"><img
						src="assets/social/twitter.png" alt="Twitter" width="25" height="25"></a>
				<a target="_blank" href="https://www.youtube.com/@limbersport6356" aria-label="YouTube"><img
						src="assets/social/youtube.png" alt="Youtube" width="25" height="25"></a>
				<a target="_blank" href="https://www.instagram.com/limber_sport/" aria-label="Instagram"><img
						src="assets/social/instagram.png" alt="Instagram" width="25" height="25"></a>
			</div>
		</div>
	</div>

</footer>
<div class="footer-bottom">
	<div class="auto-container">
		<div class="bottom-inner">
			<div class="copyright text-center">
				<p><a href="/">Limber Sport Limited</a> © 2024 All Rights Reserved</p>
			</div>
		</div>
		<!-- <button id="scrollToTop" class="show"><i class="fas fa fa-angle-up arrow-icon"></i></button> -->
		<button id="scrollToTop" [ngClass]="{'show': isVisible}" (click)="scrollToTop()">
			<i class="fas fa fa-angle-up arrow-icon"></i>
		</button>
	</div>

</div>